@{
    Layout = null;
}
@*index Login*@
<!DOCTYPE html>
<html>
<head>
    <title>NTS
    </title>
    <!-- Custom Css -->
    <link href="~/Resources/css/site.style.css" rel="stylesheet" />

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <!-- Bootstrap Select Css -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

</head>
<body>
    <div>@{Html.RenderAction("Menu");}</div>
    @*<header class="header">
        @{Html.RenderAction("Menu");}
    </header>*@

    @*<div class="page-container loginOuter">
        <div id="form" class="loginInner">
        </div>
    </div>*@
    @*<footer class="footer">
        @{ Html.RenderAction("Footer"); }
    </footer>

    @{Html.RenderAction("Loading");}

    @{Html.RenderAction("Dialog");}*@

    <!-- Global vars -->
    <script>
        var global_baseUrl = "@Url.Content("~/")";
    </script>
</body>
</html>
