@model MVC.Presentacion.Models.Catalogos.CategoriaProductoDTO
<tr>
    <td>@Model.Nombre </td>
    <td>@Model.Descripcion </td>
    <td>
        <a href="@Url.Action("EditarCategoria", "Producto", new { Id = Model.IdCategoria })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">edit</i>
            <span>Editar categoría</span>
        </a>
        <a href="@Url.Action("EliminarCategoria", "Producto", new { Id = Model.IdCategoria})" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">delete</i>
            <span>Eliminar categoría</span>
        </a>

    </td>
</tr>