@model MVC.Presentacion.Models.Catalogos.LineaProductoDTO
<tr>
    <td>@Model.Linea </td>
    <td>@Model.Descripcion </td>
    <td>
        <a href="@Url.Action("EditarLineaProducto", "Producto", new { Id = Model.IdProductoLinea })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">edit</i>
            <span>Editar línea producto</span>
        </a>
        <a href="@Url.Action("EliminarLineaProducto", "Producto", new { Id = Model.IdProductoLinea})" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">delete</i>
            <span>Eliminar línea producto</span>
        </a>

    </td>
</tr>
