@model MVC.Presentacion.Models.Historico.YearsDTO
    @Html.HiddenFor(m => m.Year)
<li style="list-style:none">@Html.CheckBoxFor(x => x.Seleccionar, new { @style = "width: 20px; height: 20px;" }) @Model.Year</li>


