
@{
    ViewBag.Title = "Inicio -";
}


@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/RWA/SalesViewer/DXR.axd?r=0_2395,1_66,1_67,1_68,0_2402,0_2295,1_283,0_2302,0_2604,0_2611,0_2275-JIFei" />
    <!-- Google Tag Manager -->

    <script src="https://logifyjs.devexpress.com/logifyAlert.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        (function () {
            var getIsAllASPxControlsInitialized = function() {
                var result = true;
                try { ASPx.GetControlCollection().ForEachControl(function(c){ result &= c.isInitialized; }); }
                catch(e) { result = false; }
                return !!result;
            };
            if (typeof logifyAlert !== "undefined") {
                var logify = new logifyAlert("9E7E345F2ADB45DCAF02674E591F83AE");
                logify.applicationVersion = '18.2.6.0';
                logify.collectInputs = true;
                logify.customData = { };
                logify.collectBreadcrumbs = true;
                window.onerror = function (msg, url, lineNo, columnNo, error) {
                    logify.customData["AllASPxControlsInitialized"] = getIsAllASPxControlsInitialized();
                    logify.sendException(msg, url, lineNo, columnNo, error);
                    return false;
                };
            }
        })();
    </script>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TP4P4KW');</script>
    <!-- End Google Tag Manager -->
    <title>

        Revenue By Product - SalesViewer Demo | ASP.NET Controls by DevExpress

    </title>
    <meta name="format-detection" content="telephone=no" />
    <link href="Content/Css/Demo.css" rel="stylesheet" />
    <script src="Content/Scripts/Helper.js"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP4P4KW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <form method="post" action="./RevenueByProduct.aspx" id="form1">
        <div class="aspNetHidden">
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTM2NzU3OTg3Mw8WAh4TVmFsaWRhdGVSZXF1ZXN0TW9kZQIBZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WCgUTY3RsMDAkSGVscE1lbnVQb3B1cAUsY3RsMDAkSGVscE1lbnVQb3B1cCRUUENGbTEkVEMkRG93bmxvYWRCdXR0b24FJmN0bDAwJEhlbHBNZW51UG9wdXAkVFBDRm0xJFRDJE9rQnV0dG9uBSBjdGwwMCRIZWFkZXIkSGVhZGVyTWVudSRtYWluTWVudQVhY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyJERhaWx5U2FsZXNQZXJmb3JtYW5jZUNoYXJ0JFZlcnRpY2FsQmFyQ2FsbGJhY2tQYW5lbCRWZXJ0aWNhbENoYXJ0Q29udHJvbAVVY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyJFVuaXRTYWxlc0NoYXJ0JFZlcnRpY2FsQmFyQ2FsbGJhY2tQYW5lbCRWZXJ0aWNhbENoYXJ0Q29udHJvbAVoY3RsMDAkQm90dG9tQ29udGVudFBsYWNlSG9sZGVyJFByb2R1Y3RTYWxlc1JldmVudWUkUmV2ZW51ZUZvb3RlckNhbGxiYWNrUGFuZWwkRG91Z2hudXRDaGFydCRDaGFydENvbnRyb2wFbWN0bDAwJEJvdHRvbUNvbnRlbnRQbGFjZUhvbGRlciRQcm9kdWN0U2FsZXNSZXZlbnVlJFJldmVudWVGb290ZXJDYWxsYmFja1BhbmVsJEhvcml6b250YWxCYXJDaGFydCRDaGFydENvbnRyb2wFVGN0bDAwJEZvb3RlclJhbmdlQ29udHJvbFBsYWNlSG9sZGVyJEZvb3RlclJhbmdlQ29udHJvbCRDYWxsYmFja1BhbmVsJExlZnRTaGlmdEJ1dHRvbgVVY3RsMDAkRm9vdGVyUmFuZ2VDb250cm9sUGxhY2VIb2xkZXIkRm9vdGVyUmFuZ2VDb250cm9sJENhbGxiYWNrUGFuZWwkUmlnaHRTaGlmdEJ1dHRvbkI5QS4M1RM+AjFK+NX78zZwmAjd" />
        </div>

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms['form1'];
            if (!theForm) {
                theForm = document.form1;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
            //]]>
        </script>


        <script src="/RWA/SalesViewer/WebResource.axd?d=LFsa_iKKhrKMSmeDOIrBsP0DbY1Xd5lIRORhOQqr5zFik_IPeEAMR73f3OISW5U3kTA4U-fOtChaYKhqBWvZSthSCvI1&amp;t=636511160826842555" type="text/javascript"></script>

        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="21E6F01F" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAyTEZtqiP1z2xhh9Y5Vu1hZHJx3bDOzFLLLzoUFAWpYEznjcogzjCFf8A6SeFubxibzIp10mByiGuSx/DLEt5Z8r2Jg7mUq2d0tXAwszqPhCns6UDfm9r19Q4Shfo0VHA7yr2q7kUrB7yWCAJTBcIjv5g6bpzcm+kAK30o0WX0OXKxhm75d03BxqWZabb/Yx32gNGfG1Q4zPJCZMWKTvtFc+O+dju9mzgSTgO/agpNA9UIvgazzd0EfHimt5TcmMbC142rCzS8SGqTV1+8hzONlGny13A==" />
        </div>
        <script id="dxis_307038525" src="/RWA/SalesViewer/DXR.axd?r=1_10,1_11,1_22,1_62,1_12,1_13,1_14,1_41,1_16,1_40,1_256,1_23,1_32,1_47,1_8,1_31,10_0,10_1,10_2,10_3,10_4,1_20,1_21,1_257,1_278-HIFei" type="text/javascript"></script>
        <script id="dxss_971798018" type="text/javascript">
<!--
var dxo = ASPx.GetGlobalEvents();
dxo.SetEvents({'ControlsInitialized':OnControlsInitialized});

//-->
        </script>
        <div id="HelpMenuPopup_PW-1" class="dxpcLite_MetropolisBlue dxpclW" style="z-index:10000;display:none;visibility:hidden;">
            <div class="dxpc-mainDiv popup dxpc-shadow">
                <div class="dxpc-header">
                    <div class="dxpc-headerContent">
                        <span class="dxpc-headerText dx-vam"></span>
                    </div><b class="dx-clear"></b>
                </div><div class="dxpc-contentWrapper">
                    <div class="dxpc-content">

                        <div class="popup-text">
                            <p>
                                Construct flexible and fully customizable web apps for real-time data consumption and analysis.
                            </p>
                            <p>Controls showcased on this page:</p>

                            <p><a target="_blank" href="">Doughnut and Bar Charts</a> - used to compare revenues generated by each product.</p>
                            <p><a target="_blank" href="">Track Bar</a> – used to visually specify a date range for sales information displayed within the charts.</p>

                            <p><a target="_blank" href="">Popup Control</a> - used to display this modal window.</p>
                        </div>

                    </div>
                </div><div class="dxpc-footer">

                    <div class="popup-buttons">
                        <div class="dxbButton_MetropolisBlue button dxbButtonSys dxbTSys" id="HelpMenuPopup_TPCFm1_DownloadButton" style="-webkit-user-select:none;">
                            <div class="dxb">
                                <div class="dxb-hbc">
                                    <input id="HelpMenuPopup_TPCFm1_DownloadButton_I" class="dxb-hb" value="Download Free Trial" type="submit" name="ctl00$HelpMenuPopup$TPCFm1$TC$DownloadButton" />
                                </div><span class="dx-vam">Download Free Trial</span>
                            </div>
                        </div>
                        <script id="dxss_1970760217" type="text/javascript">
<!--
ASPx.AddHoverItems('HelpMenuPopup_TPCFm1_DownloadButton',[[['dxbButtonHover_MetropolisBlue hover'],[''],[''],['','TC']]]);
ASPx.AddPressedItems('HelpMenuPopup_TPCFm1_DownloadButton',[[['dxbButtonPressed_MetropolisBlue'],[''],[''],['','TC']]]);
ASPx.AddDisabledItems('HelpMenuPopup_TPCFm1_DownloadButton',[[['dxbDisabled_MetropolisBlue'],[''],[''],['','TC']]]);
ASPx.AddSelectedItems('HelpMenuPopup_TPCFm1_DownloadButton',[[['dxbf'],[''],['CD']]]);
ASPx.createControl(ASPxClientButton,'HelpMenuPopup_TPCFm1_DownloadButton','',{'uniqueID':'ctl00$HelpMenuPopup$TPCFm1$TC$DownloadButton','cpTrialUrl':'https://go.devexpress.com/Demo_2013_DownloadTrial.aspx'},{'Click':RedirectToTrialPage});

//-->
                        </script>
                        <div class="dxbButton_MetropolisBlue button dxbButtonSys dxbTSys" id="HelpMenuPopup_TPCFm1_OkButton" style="-webkit-user-select:none;">
                            <div class="dxb">
                                <div class="dxb-hbc">
                                    <input id="HelpMenuPopup_TPCFm1_OkButton_I" class="dxb-hb" value="OK" type="submit" name="ctl00$HelpMenuPopup$TPCFm1$TC$OkButton" />
                                </div><span class="dx-vam">OK</span>
                            </div>
                        </div>
                        <script id="dxss_594912552" type="text/javascript">
<!--
ASPx.AddHoverItems('HelpMenuPopup_TPCFm1_OkButton',[[['dxbButtonHover_MetropolisBlue hover'],[''],[''],['','TC']]]);
ASPx.AddPressedItems('HelpMenuPopup_TPCFm1_OkButton',[[['dxbButtonPressed_MetropolisBlue'],[''],[''],['','TC']]]);
ASPx.AddDisabledItems('HelpMenuPopup_TPCFm1_OkButton',[[['dxbDisabled_MetropolisBlue'],[''],[''],['','TC']]]);
ASPx.AddSelectedItems('HelpMenuPopup_TPCFm1_OkButton',[[['dxbf'],[''],['CD']]]);
ASPx.createControl(ASPxClientButton,'HelpMenuPopup_TPCFm1_OkButton','',{'uniqueID':'ctl00$HelpMenuPopup$TPCFm1$TC$OkButton'},{'Click':HidePopup});

//-->
                        </script>
                    </div>

                </div>
            </div>
        </div><div id="HelpMenuPopup_DXPWMB-1" class="dxpcModalBackLite_MetropolisBlue" style="z-index:9999;">

        </div><table id="HelpMenuPopup_LP" class="dxpcLoadingPanel_MetropolisBlue dxlpLoadingPanel_MetropolisBlue" style="left:0px;top:0px;z-index:30000;display:none;">
            <tr>
                <td class="dx" style="padding-right:0px;"><img class="dxlp-loadingImage dxlp-imgPosLeft" src="/RWA/SalesViewer/DXR.axd?r=1_121-HIFei" alt="" style="vertical-align:middle;" /></td>
                <td class="dx" style="padding-left:0px;"><span id="HelpMenuPopup_TL">Loading&hellip;</span></td>
            </tr>
        </table><div id="HelpMenuPopup_LD" class="dxpcLoadingDiv_MetropolisBlue dxlpLoadingDiv_MetropolisBlue dx-ft" style="left:0px;top:0px;z-index:29999;display:none;position:absolute;">

        </div>
        <script id="dxss_391208570" type="text/javascript">
<!--
ASPx.createControl(ASPxClientPopupControl,'HelpMenuPopup','',{'callBack':function(arg) { WebForm_DoCallback('ctl00$HelpMenuPopup',arg,ASPx.Callback,'HelpMenuPopup',ASPx.CallbackError,true); },'uniqueID':'ctl00$HelpMenuPopup','popupAnimationType':'fade','closeAnimationType':'fade','popupHorizontalAlign':'WindowCenter','popupVerticalAlign':'WindowCenter','isPopupPositionCorrectionOn':false,'modal':true});

//-->
        </script>
        <div class="contentHolder">
            <div class="header">
                <div class="contentBox">

                    <div style="float: left;">
                        <a href="./" class="top-logo"></a>
                    </div>
                    <div style="float: right;">

                        <div class="mainMenu">
                            <div class="dxmLite_Moderno dxm-ltr">
                                <div class="dxm-main dxm-horizontal" id="mainMenu">
                                    <ul class="dx dxm-image-l dxm-noImages">
                                        <li class="dxm-item dxm-selected dxm-subMenu">
                                            <div class="dxm-content dxm-hasText">
                                                <span class="dx-vam">Dashboard: Revenue by Product</span>
                                            </div><div class="dxm-popOut">
                                                <img class="dxWeb_mHorizontalPopOut_Moderno dxm-pImage" src="/RWA/SalesViewer/DXR.axd?r=1_121-HIFei" alt="v" />
                                            </div>
                                        </li>
                                        <li class="dxm-separator"><b></b></li>
                                        <li class="dxm-item dxm-noSubMenu"><a class="dxm-content dxm-hasText dx" href="/RWA/SalesViewer/Products.aspx"><span class="dx-vam">Products</span></a></li>
                                        <li class="dxm-separator"><b></b></li>
                                        <li class="dxm-item dxm-noSubMenu"><a class="dxm-content dxm-hasText dx" href="/RWA/SalesViewer/Sales.aspx"><span class="dx-vam">Sales</span></a></li>
                                        <li class="dxm-separator"><b></b></li>
                                        <li class="dxm-item dxm-noSubMenu"><a class="dxm-content dxm-hasText dx" href="/RWA/SalesViewer/Customers.aspx"><span class="dx-vam">Customers</span></a></li>
                                        <li class="dxm-separator"><b></b></li>
                                        <li class="dxm-item helpMenuItem dxm-noSubMenu">
                                            <div class="dxm-content dxm-hasText">
                                                <span class="dx-vam">?</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div><b class="dx-clear"></b><div id="mainMenu_DXM0_" style="z-index:20002;display:none;">
                                    <div class="dxm-shadow dxm-popup">
                                        <ul class="dx dxm-noImages dxm-gutter">
                                            <li class="dxm-item dxm-selected">
                                                <div class="dxm-content dxm-hasText">
                                                    <span class="dx-vam">Revenue by Product</span>
                                                </div><b class="dx-clear"></b>
                                            </li>
                                            <li class="dxm-spacing"></li>
                                            <li class="dxm-item"><a class="dxm-content dxm-hasText dx" href="/RWA/SalesViewer/RevenueBySector.aspx"><span class="dx-vam">Revenue by Sector</span></a><b class="dx-clear"></b></li>
                                            <li class="dxm-spacing"></li>
                                            <li class="dxm-item"><a class="dxm-content dxm-hasText dx" href="/RWA/SalesViewer/RevenueByChannel.aspx"><span class="dx-vam">Revenue by Sales Channel</span></a><b class="dx-clear"></b></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <script id="dxss_1309121371" type="text/javascript">
<!--
ASPx.AddHoverItems('mainMenu',[[['dxm-hovered','',''],['','',''],['DXI0_'],['','P','T']],[[''],[''],['DXME0_','DXMBC0_']],[[''],[''],['DXI0i0_'],['','T']],[['dxm-hovered',''],['',''],['DXI0i1_','DXI0i2_','DXI1_','DXI2_','DXI3_','DXI4_'],['','T']]]);
ASPx.AddDisabledItems('mainMenu',[[['dxm-disabled'],[''],['DXI0_'],['','P','T']],[['dxm-disabled'],[''],['DXI0i0_','DXI0i1_','DXI0i2_','DXI1_','DXI2_','DXI3_','DXI4_'],['','T']]]);
ASPx.createControl(ASPxClientMenu,'mainMenu','',{'uniqueID':'ctl00$Header$HeaderMenu$mainMenu','renderData':{'':[[0],[1],[2],[3],[4]],'0':[0,[1],[2]]},'subMenuFIXOffset':1,'subMenuFIYOffset':-2,'subMenuLIXOffset':1,'subMenuLIYOffset':-2,'subMenuXOffset':1,'subMenuYOffset':-2,'rootSubMenuFIYOffset':1},{'ItemClick':OnMenuItemClick},null,{'items':[{'items':[{},{},{}]},{},{},{},{'name':'helpMenuItem'}]});

//-->
                            </script>
                        </div>


                    </div>
                    <div class="clear"></div>

                </div>
            </div>
            <div class="content" style="background-color: white;">
                <div class="contentBox">

                    <h1 style="padding-left: 46px;">REVENUE BY PRODUCT</h1>
                    <div style="height: 300px">
                        <div style="float: left">
                            <div class="dxpnlControl_MetropolisBlue" id="ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel" style="height:300px;width:554px;padding-left:45px;">

                                <span class="verticalBarChartTitle">DAILY SALES PERFORMANCE</span>
                                <div class="verticalBarChartHeader">
                                    <div>
                                        <div class="verticalBarChartHeaderTitle">
                                            Today
                                        </div>
                                        <div>
                                            $ 1324K
                                        </div>
                                    </div>
                                    <div>
                                        <div class="verticalBarChartHeaderTitle">
                                            Yesterday
                                        </div>
                                        <div>
                                            $ 1354K
                                        </div>
                                    </div>
                                    <div>
                                        <div class="verticalBarChartHeaderTitle">
                                            Last Week
                                        </div>
                                        <div>
                                            $ 10704K
                                        </div>
                                    </div>
                                    <div class="dateSelectorHolder">

                                        <div class="dateSelectorControl">
                                            <div id="ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_DateSelectorControl_PrevButton" class="prevButton enabledElement" onclick="CallbackHelper.UpdateContent(ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel, -1, ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_DateSelectorControl_PrevButton)"></div>
                                            <div>FEB 19, 2019</div>
                                            <div id="ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_DateSelectorControl_NextButton" class="nextButton disabledElement"></div>
                                        </div>
                                        <input type="hidden" id="ctl00$ContentPlaceHolder$DailySalesPerformanceChart$VerticalBarCallbackPanel$DateSelectorControl$DateSelectorHiddenField" name="ctl00$ContentPlaceHolder$DailySalesPerformanceChart$VerticalBarCallbackPanel$DateSelectorControl$DateSelectorHiddenField" value="" />
                                        <script id="dxss_256817122" type="text/javascript">
<!--
ASPx.createControl(ASPxClientHiddenField,'ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_DateSelectorControl_DateSelectorHiddenField','',{'callBack':function(arg) { WebForm_DoCallback('ctl00$ContentPlaceHolder$DailySalesPerformanceChart$VerticalBarCallbackPanel$DateSelectorControl$DateSelectorHiddenField',arg,ASPx.Callback,'ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_DateSelectorControl_DateSelectorHiddenField',ASPx.CallbackError,true); },'uniqueID':'ctl00$ContentPlaceHolder$DailySalesPerformanceChart$VerticalBarCallbackPanel$DateSelectorControl$DateSelectorHiddenField','properties':{'dxpCurrentDateKey':new Date(2019,1,19,10,57,32,413)}});

//-->
                                        </script>

                                    </div>
                                </div>
                                <div class="verticalChart" style="margin-left: -45px;">
                                    <script id="dxss_1836516099" type="text/javascript">
<!--
(function(){
var a = {'numNegInf':'-∞','numPosInf':'∞'};
for(var b in a) ASPx.CultureInfo[b] = a[b];
})();


//-->
                                    </script>
                                    <div id="ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_VerticalChartControl" onmousemove="ASPx.chartMouseMove(event, &#39;ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_VerticalChartControl&#39;)" onclick="ASPx.chartClick(event, &#39;ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_VerticalChartControl&#39;)" style="height:200px;width:600px;">
                                        <img id="ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_VerticalChartControl_IMG" src="/RWA/SalesViewer/DXB.axd?DXCache=710c3ed4-9810-8001-1db0-71191b488672" alt="The chart showing Yesterday series, Today series." style="display:block;" />
                                    </div><table id="ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_VerticalChartControl_LP" class="dxLoadingPanel_MetropolisBlue dxlpLoadingPanel_MetropolisBlue" style="left:0px;top:0px;z-index:30000;display:none;">
                                        <tr>
                                            <td class="dx" style="padding-right:0px;"><img class="dxlp-imgPosLeft" src="/RWA/SalesViewer/DXR.axd?r=0_2274-JIFei" alt="" style="vertical-align:middle;" /></td>
                                            <td class="dx" style="padding-left:0px;"><span id="ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_VerticalChartControl_TL">Loading&hellip;</span></td>
                                        </tr>
                                    </table>
                                    <script id="dxss_2114554905" type="text/javascript">
<!--
ASPx.createControl(ASPxClientWebChartControl,'ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_VerticalChartControl','',{'encodeHtml':false,'callBack':function(arg) { WebForm_DoCallback('ctl00$ContentPlaceHolder$DailySalesPerformanceChart$VerticalBarCallbackPanel$VerticalChartControl',arg,ASPx.Callback,'ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel_VerticalChartControl',ASPx.CallbackError,true); },'uniqueID':'ctl00$ContentPlaceHolder$DailySalesPerformanceChart$VerticalBarCallbackPanel$VerticalChartControl','stateObject':{'callbackState':''}},null,function(){
this.LoadHitInfo([{hi:0,r:{t:'R',r:[0,0,600,200]}},{hi:1,r:{t:'R',r:[45,0,600,178]}},{hi:2,hia:0,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[62,16,91,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:1,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[155,96,183,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:2,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[247,159,276,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:3,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[339,170,368,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:4,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[432,121,461,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:5,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[524,164,553,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:3,hia:6,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[92,25,121,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:3,hia:7,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[184,100,213,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:3,hia:8,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[277,158,306,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:3,hia:9,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[369,176,398,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:3,hia:10,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[462,108,490,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:3,hia:11,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[554,167,583,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[41,-4,604,182]},r:{t:'P',p:[[45,0],[600,0],[600,178],[45,178],[45,0]],s:[0],b:[],a:true}}}}},{hi:4,hia:12,r:{t:'P',p:[[63,180],[119,180],[119,201],[63,201]],s:[0],b:[],a:true}},{hi:4,hia:13,r:{t:'P',p:[[141,180],[225,180],[225,201],[141,201]],s:[0],b:[],a:true}},{hi:4,hia:14,r:{t:'P',p:[[241,180],[311,180],[311,201],[241,201]],s:[0],b:[],a:true}},{hi:4,hia:15,r:{t:'P',p:[[319,180],[418,180],[418,201],[319,201]],s:[0],b:[],a:true}},{hi:4,hia:16,r:{t:'P',p:[[431,180],[492,180],[492,201],[431,201]],s:[0],b:[],a:true}},{hi:4,hia:17,r:{t:'P',p:[[523,180],[584,180],[584,201],[523,201]],s:[0],b:[],a:true}},{hi:5,hia:18,r:{t:'P',p:[[13,167],[42,167],[42,188],[13,188]],s:[0],b:[],a:true}},{hi:5,hia:19,r:{t:'P',p:[[-1,117],[42,117],[42,138],[-1,138]],s:[0],b:[],a:true}},{hi:5,hia:20,r:{t:'P',p:[[-1,68],[42,68],[42,89],[-1,89]],s:[0],b:[],a:true}},{hi:5,hia:21,r:{t:'P',p:[[-1,18],[42,18],[42,39],[-1,39]],s:[0],b:[],a:true}},{hi:4,r:{t:'R',r:[45,177,600,178]}},{hi:5,r:{t:'R',r:[45,0,46,178]}}]);
this.InitObjectModel({d:{x:{r:{mi:'Eco Max',ma:'SolarOne',ii:-0.5,ia:5.5},m:{t:'Q',vl:['Eco Max','Eco Supreme','EnviroCare','EnviroCare Max','SolarMax','SolarOne']},l:[{hia:12,tx:'Eco Max',av:'Eco Max',iv:0},{hia:13,tx:'Eco Supreme',av:'Eco Supreme',iv:1},{hia:14,tx:'EnviroCare',av:'EnviroCare',iv:2},{hia:15,tx:'EnviroCare Max',av:'EnviroCare Max',iv:3},{hia:16,tx:'SolarMax',av:'SolarMax',iv:4},{hia:17,tx:'SolarOne',av:'SolarOne',iv:5}],cao:{f:{fs:9.75,ff:'Segoe UI'},clp:'{A}',clv:false,clbc:'#DE39CD',tc:'#FFFFFF'},t:{tx:'Axis of arguments'},i:[{mi:-0.5,ma:5.5}],ibc:{i:[{ibl:[{p:0,l:554}],pid:-1}]},hi:4,n:'Primary AxisX',x:true,id:-1,ar:false},y:{r:{mi:0,ma:648310,ii:0,ia:713141},m:{t:'N',l:false},l:[{hia:18,tx:'$0K',av:0,iv:0},{hia:19,tx:'$200K',av:200000,iv:200000},{hia:20,tx:'$400K',av:400000,iv:400000},{hia:21,tx:'$600K',av:600000,iv:600000}],cao:{f:{fs:9.75,ff:'Segoe UI'},clp:'{V:G}',clv:false,clbc:'#DE39CD',tc:'#FFFFFF'},t:{tx:'Axis of values'},i:[{mi:0,ma:713141}],ibc:{i:[{ibl:[{p:0,l:177}],pid:-1}]},hi:5,n:'Primary AxisY',x:false,id:-1,ar:false},dp:{t:{tx:'',a:'Near'},lb:[{ai:-1,ax:true,lt:181,ll:64,lh:19,lw:519},{ai:-1,ax:false,lt:19,ll:0,lh:168,lw:41}],n:'Default Pane',paxi:-1,payi:-1,id:-1,dx:45,dy:0,dw:554,dh:177,vsb:'Visible'},t:'XYD',hi:1,pld:'Vertical',prc:true,dr:false},s:[{p:[{hia:0,x:'Eco Max',y:[648310],pcc:'#DBDBDB',chv:[648310],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:1,x:'Eco Supreme',y:[326880],pcc:'#DBDBDB',chv:[326880],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:2,x:'EnviroCare',y:[71020],pcc:'#DBDBDB',chv:[71020],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:3,x:'EnviroCare Max',y:[28860],pcc:'#DBDBDB',chv:[28860],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:4,x:'SolarMax',y:[225610],pcc:'#DBDBDB',chv:[225610],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:5,x:'SolarOne',y:[53200],pcc:'#DBDBDB',chv:[53200],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]}],cvi:[{v:0,pi:0},{v:1,pi:1},{v:2,pi:2},{v:3,pi:3},{v:4,pi:4},{v:5,pi:5}],hi:2,n:'Yesterday',ace:true,scc:'rgba(219,219,219,128)',clp:'{S}: {V:c0}',gep:'{S}: {V:c0}',aclv:true,ax:'Primary AxisX',axi:-1,ay:'Primary AxisY',ayi:-1,pa:'Default Pane',pi:-1,ccil:true,cevlt:''},{p:[{hia:6,x:'Eco Max',y:[614260],pcc:'#DF7C82',chv:[614260],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:7,x:'Eco Supreme',y:[309420],pcc:'#DA5859',chv:[309420],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:8,x:'EnviroCare',y:[76430],pcc:'#F09777',chv:[76430],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:9,x:'EnviroCare Max',y:[5530],pcc:'#FBC987',chv:[5530],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:10,x:'SolarMax',y:[278400],pcc:'#A5D7D0',chv:[278400],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:11,x:'SolarOne',y:[40180],pcc:'#A5BDD7',chv:[40180],o:0.15,fo:1,bw:0.3,ie:false,acv:[]}],cvi:[{v:0,pi:0},{v:1,pi:1},{v:2,pi:2},{v:3,pi:3},{v:4,pi:4},{v:5,pi:5}],hi:3,n:'Today',ace:true,clp:'{S}: {V:c0}',gep:'{S}: {V:c0}',aclv:true,ax:'Primary AxisX',axi:-1,ay:'Primary AxisY',ayi:-1,pa:'Default Pane',pi:-1,ccil:true,cevlt:''}],l:{n:'Default Legend'},co:{clp:{t:'CMP',ox:12,oy:12},als:{th:1,ds:'Solid',lj:'Miter'},sx:false,sy:false,sl:true,sxl:true,syl:false,sfp:true,sm:'NearestArgument',lm:'ShowCommonForAllSeries',alc:'#DE39CD',vlc:'#DE39CD',sgh:true,aghp:'{A}',sorp:false,vsm:'Default',lnm:'Auto'},hi:0,an:'Default',pn:'SalesViewerPalette',spt:true,sc:true,css:'MetropolisBlue'});
});

//-->
                                    </script>
                                </div>

                            </div>
                            <script id="dxss_2088538838" type="text/javascript">
<!--
ASPx.createControl(ASPxClientCallbackPanel,'ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel','',{'callBack':function(arg) { WebForm_DoCallback('ctl00$ContentPlaceHolder$DailySalesPerformanceChart$VerticalBarCallbackPanel',arg,ASPx.Callback,'ctl00_ContentPlaceHolder_DailySalesPerformanceChart_VerticalBarCallbackPanel',ASPx.CallbackError,true); },'enableCallbackAnimation':true,'uniqueID':'ctl00$ContentPlaceHolder$DailySalesPerformanceChart$VerticalBarCallbackPanel','hideContentOnCallback':false});

//-->
                            </script>

                        </div>
                        <div style="float: right">
                            <div class="dxpnlControl_MetropolisBlue" id="ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel" style="height:300px;width:576px;padding-left:24px;">

                                <span class="verticalBarChartTitle">UNIT SALES BY PRODUCT</span>
                                <div class="verticalBarChartHeader">
                                    <div>
                                        <div class="verticalBarChartHeaderTitle">
                                            This Month
                                        </div>
                                        <div>
                                            6780
                                        </div>
                                    </div>
                                    <div>
                                        <div class="verticalBarChartHeaderTitle">
                                            Last Month
                                        </div>
                                        <div>
                                            7586
                                        </div>
                                    </div>
                                    <div>
                                        <div class="verticalBarChartHeaderTitle">
                                            YTD
                                        </div>
                                        <div>
                                            14366
                                        </div>
                                    </div>
                                    <div class="dateSelectorHolder">

                                        <div class="dateSelectorControl">
                                            <div id="ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_DateSelectorControl_PrevButton" class="prevButton enabledElement" onclick="CallbackHelper.UpdateContent(ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel, -1, ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_DateSelectorControl_PrevButton)"></div>
                                            <div>FEBRUARY, 2019</div>
                                            <div id="ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_DateSelectorControl_NextButton" class="nextButton disabledElement"></div>
                                        </div>
                                        <input type="hidden" id="ctl00$ContentPlaceHolder$UnitSalesChart$VerticalBarCallbackPanel$DateSelectorControl$DateSelectorHiddenField" name="ctl00$ContentPlaceHolder$UnitSalesChart$VerticalBarCallbackPanel$DateSelectorControl$DateSelectorHiddenField" value="" />
                                        <script id="dxss_307275714" type="text/javascript">
<!--
ASPx.createControl(ASPxClientHiddenField,'ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_DateSelectorControl_DateSelectorHiddenField','',{'callBack':function(arg) { WebForm_DoCallback('ctl00$ContentPlaceHolder$UnitSalesChart$VerticalBarCallbackPanel$DateSelectorControl$DateSelectorHiddenField',arg,ASPx.Callback,'ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_DateSelectorControl_DateSelectorHiddenField',ASPx.CallbackError,true); },'uniqueID':'ctl00$ContentPlaceHolder$UnitSalesChart$VerticalBarCallbackPanel$DateSelectorControl$DateSelectorHiddenField','properties':{'dxpCurrentDateKey':new Date(2019,1,19,10,57,32,617)}});

//-->
                                        </script>

                                    </div>
                                </div>
                                <div class="verticalChart" style="margin-left: -24px;">
                                    <div id="ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_VerticalChartControl" onmousemove="ASPx.chartMouseMove(event, &#39;ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_VerticalChartControl&#39;)" onclick="ASPx.chartClick(event, &#39;ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_VerticalChartControl&#39;)" style="height:200px;width:600px;">
                                        <img id="ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_VerticalChartControl_IMG" src="/RWA/SalesViewer/DXB.axd?DXCache=4425389f-6d24-ee8c-41f8-b3f41f24c0b6" alt="The chart showing January series, February series." style="display:block;" />
                                    </div><table id="ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_VerticalChartControl_LP" class="dxLoadingPanel_MetropolisBlue dxlpLoadingPanel_MetropolisBlue" style="left:0px;top:0px;z-index:30000;display:none;">
                                        <tr>
                                            <td class="dx" style="padding-right:0px;"><img class="dxlp-imgPosLeft" src="/RWA/SalesViewer/DXR.axd?r=0_2274-JIFei" alt="" style="vertical-align:middle;" /></td>
                                            <td class="dx" style="padding-left:0px;"><span id="ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_VerticalChartControl_TL">Loading&hellip;</span></td>
                                        </tr>
                                    </table>
                                    <script id="dxss_1867651983" type="text/javascript">
<!--
ASPx.createControl(ASPxClientWebChartControl,'ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_VerticalChartControl','',{'encodeHtml':false,'callBack':function(arg) { WebForm_DoCallback('ctl00$ContentPlaceHolder$UnitSalesChart$VerticalBarCallbackPanel$VerticalChartControl',arg,ASPx.Callback,'ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel_VerticalChartControl',ASPx.CallbackError,true); },'uniqueID':'ctl00$ContentPlaceHolder$UnitSalesChart$VerticalBarCallbackPanel$VerticalChartControl','stateObject':{'callbackState':''}},null,function(){
this.LoadHitInfo([{hi:0,r:{t:'R',r:[0,0,600,200]}},{hi:1,r:{t:'R',r:[34,4,600,178]}},{hi:2,hia:0,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[52,174,81,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:2,hia:1,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[146,164,175,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:2,hia:2,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[240,125,269,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:2,hia:3,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[334,84,364,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:2,hia:4,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[429,39,458,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:2,hia:5,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[523,50,552,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:3,hia:6,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[82,20,111,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:3,hia:7,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[176,84,205,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:3,hia:8,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[270,145,300,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:3,hia:9,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[365,172,394,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:3,hia:10,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[459,103,488,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:3,hia:11,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[553,157,582,178]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[30,0,604,182]},r:{t:'P',p:[[34,4],[600,4],[600,178],[34,178],[34,4]],s:[0],b:[],a:true}}}}},{hi:4,hia:12,r:{t:'P',p:[[53,180],[109,180],[109,201],[53,201]],s:[0],b:[],a:true}},{hi:4,hia:13,r:{t:'P',p:[[133,180],[217,180],[217,201],[133,201]],s:[0],b:[],a:true}},{hi:4,hia:14,r:{t:'P',p:[[234,180],[304,180],[304,201],[234,201]],s:[0],b:[],a:true}},{hi:4,hia:15,r:{t:'P',p:[[315,180],[414,180],[414,201],[315,201]],s:[0],b:[],a:true}},{hi:4,hia:16,r:{t:'P',p:[[428,180],[489,180],[489,201],[428,201]],s:[0],b:[],a:true}},{hi:4,hia:17,r:{t:'P',p:[[522,180],[583,180],[583,201],[522,201]],s:[0],b:[],a:true}},{hi:5,hia:18,r:{t:'P',p:[[9,167],[31,167],[31,188],[9,188]],s:[0],b:[],a:true}},{hi:5,hia:19,r:{t:'P',p:[[-1,139],[31,139],[31,160],[-1,160]],s:[0],b:[],a:true}},{hi:5,hia:20,r:{t:'P',p:[[9,111],[31,111],[31,132],[9,132]],s:[0],b:[],a:true}},{hi:5,hia:21,r:{t:'P',p:[[-1,83],[31,83],[31,104],[-1,104]],s:[0],b:[],a:true}},{hi:5,hia:22,r:{t:'P',p:[[9,55],[31,55],[31,76],[9,76]],s:[0],b:[],a:true}},{hi:5,hia:23,r:{t:'P',p:[[-1,27],[31,27],[31,48],[-1,48]],s:[0],b:[],a:true}},{hi:5,hia:24,r:{t:'P',p:[[9,-1],[31,-1],[31,20],[9,20]],s:[0],b:[],a:true}},{hi:4,r:{t:'R',r:[34,177,600,178]}},{hi:5,r:{t:'R',r:[34,4,35,178]}}]);
this.InitObjectModel({d:{x:{r:{mi:'Eco Max',ma:'SolarOne',ii:-0.5,ia:5.5},m:{t:'Q',vl:['Eco Max','Eco Supreme','EnviroCare','EnviroCare Max','SolarMax','SolarOne']},l:[{hia:12,tx:'Eco Max',av:'Eco Max',iv:0},{hia:13,tx:'Eco Supreme',av:'Eco Supreme',iv:1},{hia:14,tx:'EnviroCare',av:'EnviroCare',iv:2},{hia:15,tx:'EnviroCare Max',av:'EnviroCare Max',iv:3},{hia:16,tx:'SolarMax',av:'SolarMax',iv:4},{hia:17,tx:'SolarOne',av:'SolarOne',iv:5}],cao:{f:{fs:9.75,ff:'Segoe UI'},clp:'{A}',clv:false,clbc:'#DE39CD',tc:'#FFFFFF'},t:{tx:'Axis of arguments'},i:[{mi:-0.5,ma:5.5}],ibc:{i:[{ibl:[{p:0,l:565}],pid:-1}]},hi:4,n:'Primary AxisX',x:true,id:-1,ar:false},y:{r:{mi:0,ma:2801,ii:0,ia:3081.1},m:{t:'N',l:false},l:[{hia:18,tx:'0K',av:0,iv:0},{hia:19,tx:'0.5K',av:500,iv:500},{hia:20,tx:'1K',av:1000,iv:1000},{hia:21,tx:'1.5K',av:1500,iv:1500},{hia:22,tx:'2K',av:2000,iv:2000},{hia:23,tx:'2.5K',av:2500,iv:2500},{hia:24,tx:'3K',av:3000,iv:3000}],cao:{f:{fs:9.75,ff:'Segoe UI'},clp:'{V:G}',clv:false,clbc:'#DE39CD',tc:'#FFFFFF'},t:{tx:'Axis of values'},i:[{mi:0,ma:3081.1}],ibc:{i:[{ibl:[{p:0,l:173}],pid:-1}]},hi:5,n:'Primary AxisY',x:false,id:-1,ar:false},dp:{t:{tx:'',a:'Near'},lb:[{ai:-1,ax:true,lt:181,ll:54,lh:19,lw:528},{ai:-1,ax:false,lt:0,ll:0,lh:187,lw:30}],n:'Default Pane',paxi:-1,payi:-1,id:-1,dx:34,dy:4,dw:565,dh:173,vsb:'Visible'},t:'XYD',hi:1,pld:'Vertical',prc:true,dr:false},s:[{p:[{hia:0,x:'Eco Max',y:[47],pcc:'#DBDBDB',chv:[47],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:1,x:'Eco Supreme',y:[234],pcc:'#DBDBDB',chv:[234],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:2,x:'EnviroCare',y:[921],pcc:'#DBDBDB',chv:[921],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:3,x:'EnviroCare Max',y:[1662],pcc:'#DBDBDB',chv:[1662],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:4,x:'SolarMax',y:[2457],pcc:'#DBDBDB',chv:[2457],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]},{hia:5,x:'SolarOne',y:[2265],pcc:'#DBDBDB',chv:[2265],o:-0.15,fo:-1,bw:0.3,ie:false,acv:[]}],cvi:[{v:0,pi:0},{v:1,pi:1},{v:2,pi:2},{v:3,pi:3},{v:4,pi:4},{v:5,pi:5}],hi:2,n:'January',ace:true,scc:'rgba(219,219,219,128)',clp:'{S}: {V}',gep:'{S}: {V}',aclv:true,ax:'Primary AxisX',axi:-1,ay:'Primary AxisY',ayi:-1,pa:'Default Pane',pi:-1,ccil:true,cevlt:''},{p:[{hia:6,x:'Eco Max',y:[2801],pcc:'#DF7C82',chv:[2801],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:7,x:'Eco Supreme',y:[1658],pcc:'#DA5859',chv:[1658],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:8,x:'EnviroCare',y:[563],pcc:'#F09777',chv:[563],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:9,x:'EnviroCare Max',y:[87],pcc:'#FBC987',chv:[87],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:10,x:'SolarMax',y:[1312],pcc:'#A5D7D0',chv:[1312],o:0.15,fo:1,bw:0.3,ie:false,acv:[]},{hia:11,x:'SolarOne',y:[359],pcc:'#A5BDD7',chv:[359],o:0.15,fo:1,bw:0.3,ie:false,acv:[]}],cvi:[{v:0,pi:0},{v:1,pi:1},{v:2,pi:2},{v:3,pi:3},{v:4,pi:4},{v:5,pi:5}],hi:3,n:'February',ace:true,clp:'{S}: {V}',gep:'{S}: {V}',aclv:true,ax:'Primary AxisX',axi:-1,ay:'Primary AxisY',ayi:-1,pa:'Default Pane',pi:-1,ccil:true,cevlt:''}],l:{n:'Default Legend'},co:{clp:{t:'CMP',ox:12,oy:12},als:{th:1,ds:'Solid',lj:'Miter'},sx:false,sy:false,sl:true,sxl:true,syl:false,sfp:true,sm:'NearestArgument',lm:'ShowCommonForAllSeries',alc:'#DE39CD',vlc:'#DE39CD',sgh:true,aghp:'{A}',sorp:false,vsm:'Default',lnm:'Auto'},hi:0,an:'Default',pn:'SalesViewerPalette',spt:true,sc:true,css:'MetropolisBlue'});
});

//-->
                                    </script>
                                </div>

                            </div>
                            <script id="dxss_739944918" type="text/javascript">
<!--
ASPx.createControl(ASPxClientCallbackPanel,'ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel','',{'callBack':function(arg) { WebForm_DoCallback('ctl00$ContentPlaceHolder$UnitSalesChart$VerticalBarCallbackPanel',arg,ASPx.Callback,'ctl00_ContentPlaceHolder_UnitSalesChart_VerticalBarCallbackPanel',ASPx.CallbackError,true); },'enableCallbackAnimation':true,'uniqueID':'ctl00$ContentPlaceHolder$UnitSalesChart$VerticalBarCallbackPanel','hideContentOnCallback':false});

//-->
                            </script>

                        </div>
                    </div>

                </div>
            </div>
            <div class="content">
                <div class="contentBox">

                    <div class="dxpnlControl_MetropolisBlue" id="RevenueFooterCallbackPanel">

                        <div class="revenueBottom">
                            <div class="revenuePieChart">

                                <div class="doughnutChart" style="width: 320px">
                                    <div id="ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_DoughnutChart_ChartControl" onmousemove="ASPx.chartMouseMove(event, &#39;ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_DoughnutChart_ChartControl&#39;)" onclick="ASPx.chartClick(event, &#39;ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_DoughnutChart_ChartControl&#39;)" style="height:320px;width:320px;">
                                        <img id="ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_DoughnutChart_ChartControl_IMG" src="/RWA/SalesViewer/DXB.axd?DXCache=891d6ec3-144b-d58e-f8e1-56af42888ac1" alt="The chart showing Series1 series." style="display:block;" />
                                    </div><table id="ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_DoughnutChart_ChartControl_LP" class="dxLoadingPanel_MetropolisBlue dxlpLoadingPanel_MetropolisBlue" style="left:0px;top:0px;z-index:30000;display:none;">
                                        <tr>
                                            <td class="dx" style="padding-right:0px;"><img class="dxlp-imgPosLeft" src="/RWA/SalesViewer/DXR.axd?r=0_2274-JIFei" alt="" style="vertical-align:middle;" /></td>
                                            <td class="dx" style="padding-left:0px;"><span id="ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_DoughnutChart_ChartControl_TL">Loading&hellip;</span></td>
                                        </tr>
                                    </table>
                                    <script id="dxss_383191258" type="text/javascript">
<!--
ASPx.createControl(ASPxClientWebChartControl,'ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_DoughnutChart_ChartControl','',{'encodeHtml':false,'callBack':function(arg) { WebForm_DoCallback('ctl00$BottomContentPlaceHolder$ProductSalesRevenue$RevenueFooterCallbackPanel$DoughnutChart$ChartControl',arg,ASPx.Callback,'ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_DoughnutChart_ChartControl',ASPx.CallbackError,true); },'uniqueID':'ctl00$BottomContentPlaceHolder$ProductSalesRevenue$RevenueFooterCallbackPanel$DoughnutChart$ChartControl','stateObject':{'callbackState':''}},null,function(){
this.LoadHitInfo([{hi:0,r:{t:'R',r:[0,0,320,320]}},{hi:1,hia:0,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'P',p:[[279,160],[279,116.4],[255.2,76.4],[217,55.5],[194,97.7],[216.8,110.1],[231,134],[231,160]],s:[0],b:[1,2,3,5,6,7],a:true}},r:{t:'R',r:[0,0,320,320]}}},{hi:1,hia:1,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'P',p:[[217,55.5],[196.2,44.2],[172.5,39.3],[149,41.5],[153.4,89.3],[167.5,88],[181.6,90.9],[194,97.7]],s:[0],b:[1,2,3,5,6,7],a:true}},r:{t:'R',r:[0,0,320,320]}}},{hi:1,hia:2,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'P',p:[[149,41.5],[127.6,43.5],[107.1,51.2],[89.8,63.9],[118.1,102.7],[128.5,95.1],[140.7,90.5],[153.4,89.3]],s:[0],b:[1,2,3,5,6,7],a:true}},r:{t:'R',r:[0,0,320,320]}}},{hi:1,hia:3,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'P',p:[[89.8,63.9],[46.9,95.2],[30,151.1],[48.3,200.9],[93.3,184.4],[82.4,154.7],[92.5,121.4],[118.1,102.7]],s:[0],b:[1,2,3,5,6,7],a:true}},r:{t:'R',r:[0,0,320,320]}}},{hi:1,hia:4,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'P',p:[[48.3,200.9],[70.9,262.6],[139.2,294.3],[200.9,271.7],[212.1,267.6],[222.6,261.9],[232.1,254.7],[203,216.5],[171.8,240.2],[127.3,234.2],[103.5,203],[99.2,197.4],[95.8,191.1],[93.3,184.4]],s:[0],b:[1,2,3,4,5,6,8,9,10,11,12,13],a:true}},r:{t:'R',r:[0,0,320,320]}}},{hi:1,hia:5,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'P',p:[[232.1,254.7],[261.6,232.2],[279,197.2],[279,160],[231,160],[231,182.2],[220.6,203.1],[203,216.5]],s:[0],b:[1,2,3,5,6,7],a:true}},r:{t:'R',r:[0,0,320,320]}}},{hi:2,hia:0,r:{t:'R',r:[268,78,299,97]}},{hi:2,hia:1,r:{t:'R',r:[185,19,209,38]}},{hi:2,hia:2,r:{t:'R',r:[92,24,116,43]}},{hi:2,hia:3,r:{t:'R',r:[9,105,40,124]}},{hi:2,hia:4,r:{t:'R',r:[95,281,126,300]}},{hi:2,hia:5,r:{t:'R',r:[273,216,304,235]}}]);
this.InitObjectModel({s:[{p:[{hia:0,x:'Eco Max',y:[74266530]},{hia:1,x:'Eco Supreme',y:[41029390]},{hia:2,x:'EnviroCare',y:[37314670]},{hia:3,x:'EnviroCare Max',y:[89458320]},{hia:4,x:'SolarMax',y:[129624230]},{hia:5,x:'SolarOne',y:[63772710]}],l:{hi:2},hi:1,n:'Series1',v:'Doughnut'}],l:{n:'Default Legend'},hi:0,an:'Default',pn:'SalesViewerPalette',spt:true,css:'MetropolisBlue'});
});

//-->
                                    </script>
                                    <div class="doughnutChartTitle" style="top: 141px; width: 320px;">
                                        <div>
                                            PRODUCT SALES<br />
                                            BY RANGE
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="revenueHorChart">

                                <div style="width: 840px;">
                                    <div class="chart-title">JAN 2018 - DEC 2018</div>
                                    <div class="chart-subtitle">PRODUCT SALES BY RANGE</div>
                                    <div id="ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_HorizontalBarChart_ChartControl" onmousemove="ASPx.chartMouseMove(event, &#39;ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_HorizontalBarChart_ChartControl&#39;)" onclick="ASPx.chartClick(event, &#39;ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_HorizontalBarChart_ChartControl&#39;)" style="height:220px;width:840px;">
                                        <img id="ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_HorizontalBarChart_ChartControl_IMG" src="/RWA/SalesViewer/DXB.axd?DXCache=5a4e9599-70bf-4c45-ddd4-3c1ee588caf8" alt="The chart showing Series1 series." style="display:block;" />
                                    </div><table id="ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_HorizontalBarChart_ChartControl_LP" class="dxLoadingPanel_MetropolisBlue dxlpLoadingPanel_MetropolisBlue" style="left:0px;top:0px;z-index:30000;display:none;">
                                        <tr>
                                            <td class="dx" style="padding-right:0px;"><img class="dxlp-imgPosLeft" src="/RWA/SalesViewer/DXR.axd?r=0_2274-JIFei" alt="" style="vertical-align:middle;" /></td>
                                            <td class="dx" style="padding-left:0px;"><span id="ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_HorizontalBarChart_ChartControl_TL">Loading&hellip;</span></td>
                                        </tr>
                                    </table>
                                    <script id="dxss_1838875763" type="text/javascript">
<!--
ASPx.createControl(ASPxClientWebChartControl,'ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_HorizontalBarChart_ChartControl','',{'encodeHtml':false,'callBack':function(arg) { WebForm_DoCallback('ctl00$BottomContentPlaceHolder$ProductSalesRevenue$RevenueFooterCallbackPanel$HorizontalBarChart$ChartControl',arg,ASPx.Callback,'ctl00_BottomContentPlaceHolder_ProductSalesRevenue_RevenueFooterCallbackPanel_HorizontalBarChart_ChartControl',ASPx.CallbackError,true); },'uniqueID':'ctl00$BottomContentPlaceHolder$ProductSalesRevenue$RevenueFooterCallbackPanel$HorizontalBarChart$ChartControl','stateObject':{'callbackState':''}},null,function(){
this.LoadHitInfo([{hi:0,r:{t:'R',r:[0,0,840,220]}},{hi:1,r:{t:'R',r:[0,0,840,198]}},{hi:2,hia:0,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[0,7,438,27]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[-4,-4,844,202]},r:{t:'P',p:[[0,0],[840,0],[840,198],[0,198],[0,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:1,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[0,39,242,60]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[-4,-4,844,202]},r:{t:'P',p:[[0,0],[840,0],[840,198],[0,198],[0,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:2,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[0,72,221,93]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[-4,-4,844,202]},r:{t:'P',p:[[0,0],[840,0],[840,198],[0,198],[0,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:3,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[0,105,527,126]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[-4,-4,844,202]},r:{t:'P',p:[[0,0],[840,0],[840,198],[0,198],[0,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:4,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[0,138,764,159]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[-4,-4,844,202]},r:{t:'P',p:[[0,0],[840,0],[840,198],[0,198],[0,0]],s:[0],b:[],a:true}}}}},{hi:2,hia:5,r:{t:'I',l:{t:'U',l:{t:'O'},r:{t:'R',r:[0,171,376,191]}},r:{t:'U',l:{t:'O'},r:{t:'I',l:{t:'R',r:[-4,-4,844,202]},r:{t:'P',p:[[0,0],[840,0],[840,198],[0,198],[0,0]],s:[0],b:[],a:true}}}}},{hi:3,hia:6,r:{t:'P',p:[[-1,200],[32,200],[32,221],[-1,221]],s:[0],b:[],a:true}},{hi:3,hia:7,r:{t:'P',p:[[39,200],[80,200],[80,221],[39,221]],s:[0],b:[],a:true}},{hi:3,hia:8,r:{t:'P',p:[[98,200],[139,200],[139,221],[98,221]],s:[0],b:[],a:true}},{hi:3,hia:9,r:{t:'P',p:[[157,200],[198,200],[198,221],[157,221]],s:[0],b:[],a:true}},{hi:3,hia:10,r:{t:'P',p:[[215,200],[256,200],[256,221],[215,221]],s:[0],b:[],a:true}},{hi:3,hia:11,r:{t:'P',p:[[274,200],[315,200],[315,221],[274,221]],s:[0],b:[],a:true}},{hi:3,hia:12,r:{t:'P',p:[[333,200],[374,200],[374,221],[333,221]],s:[0],b:[],a:true}},{hi:3,hia:13,r:{t:'P',p:[[392,200],[433,200],[433,221],[392,221]],s:[0],b:[],a:true}},{hi:3,hia:14,r:{t:'P',p:[[451,200],[492,200],[492,221],[451,221]],s:[0],b:[],a:true}},{hi:3,hia:15,r:{t:'P',p:[[510,200],[551,200],[551,221],[510,221]],s:[0],b:[],a:true}},{hi:3,hia:16,r:{t:'P',p:[[564,200],[612,200],[612,221],[564,221]],s:[0],b:[],a:true}},{hi:3,hia:17,r:{t:'P',p:[[623,200],[671,200],[671,221],[623,221]],s:[0],b:[],a:true}},{hi:3,hia:18,r:{t:'P',p:[[682,200],[730,200],[730,221],[682,221]],s:[0],b:[],a:true}},{hi:3,hia:19,r:{t:'P',p:[[741,200],[789,200],[789,221],[741,221]],s:[0],b:[],a:true}},{hi:3,hia:20,r:{t:'P',p:[[793,200],[841,200],[841,221],[793,221]],s:[0],b:[],a:true}},{hi:3,r:{t:'R',r:[0,197,840,198]}}]);
this.InitObjectModel({d:{x:{r:{mi:'Eco Max',ma:'SolarOne',ii:-0.5,ia:5.5},m:{t:'Q',vl:['Eco Max','Eco Supreme','EnviroCare','EnviroCare Max','SolarMax','SolarOne']},cao:{f:{fs:9.75,ff:'Segoe UI'},clp:'{A}',clv:false,clbc:'#DE39CD',tc:'#FFFFFF'},t:{tx:'Axis of arguments'},i:[{mi:-0.5,ma:5.5}],ibc:{i:[{ibl:[{p:0,l:197}],pid:-1}]},n:'Primary AxisX',x:true,id:-1,ar:true},y:{r:{mi:0,ma:129624230,ii:0,ia:142586653},m:{t:'N',l:false},l:[{hia:6,tx:'$0M',av:0,iv:0},{hia:7,tx:'$10M',av:10000000,iv:10000000},{hia:8,tx:'$20M',av:20000000,iv:20000000},{hia:9,tx:'$30M',av:30000000,iv:30000000},{hia:10,tx:'$40M',av:40000000,iv:40000000},{hia:11,tx:'$50M',av:50000000,iv:50000000},{hia:12,tx:'$60M',av:60000000,iv:60000000},{hia:13,tx:'$70M',av:70000000,iv:70000000},{hia:14,tx:'$80M',av:80000000,iv:80000000},{hia:15,tx:'$90M',av:90000000,iv:90000000},{hia:16,tx:'$100M',av:100000000,iv:100000000},{hia:17,tx:'$110M',av:110000000,iv:110000000},{hia:18,tx:'$120M',av:120000000,iv:120000000},{hia:19,tx:'$130M',av:130000000,iv:130000000},{hia:20,tx:'$140M',av:140000000,iv:140000000}],cao:{f:{fs:9.75,ff:'Segoe UI'},clp:'{V:G}',clv:false,clbc:'#DE39CD',tc:'#FFFFFF'},t:{tx:'Axis of values'},i:[{mi:0,ma:142586653}],ibc:{i:[{ibl:[{p:0,l:839}],pid:-1}]},hi:3,n:'Primary AxisY',x:false,id:-1,ar:false},dp:{t:{tx:'',a:'Near'},lb:[{ai:-1,ax:false,lt:201,ll:-15,lh:19,lw:862}],n:'Default Pane',paxi:-1,payi:-1,id:-1,dx:0,dy:0,dw:839,dh:197,vsb:'Visible'},t:'XYD',hi:1,pld:'Vertical',prc:true,dr:true},s:[{p:[{hia:0,x:'Eco Max',y:[74266530],pcc:'#DF7C82',chv:[74266530],o:0,fo:0,bw:0.6,ie:false,acv:[]},{hia:1,x:'Eco Supreme',y:[41029390],pcc:'#DA5859',chv:[41029390],o:0,fo:0,bw:0.6,ie:false,acv:[]},{hia:2,x:'EnviroCare',y:[37314670],pcc:'#F09777',chv:[37314670],o:0,fo:0,bw:0.6,ie:false,acv:[]},{hia:3,x:'EnviroCare Max',y:[89458320],pcc:'#FBC987',chv:[89458320],o:0,fo:0,bw:0.6,ie:false,acv:[]},{hia:4,x:'SolarMax',y:[129624230],pcc:'#A5D7D0',chv:[129624230],o:0,fo:0,bw:0.6,ie:false,acv:[]},{hia:5,x:'SolarOne',y:[63772710],pcc:'#A5BDD7',chv:[63772710],o:0,fo:0,bw:0.6,ie:false,acv:[]}],cvi:[{v:0,pi:0},{v:1,pi:1},{v:2,pi:2},{v:3,pi:3},{v:4,pi:4},{v:5,pi:5}],hi:2,n:'Series1',ace:true,clp:'{A}: {V:c2}',gep:'{A}: {V:c2}',aclv:true,ax:'Primary AxisX',axi:-1,ay:'Primary AxisY',ayi:-1,pa:'Default Pane',pi:-1,ccil:true,cevlt:''}],l:{n:'Default Legend'},co:{clp:{t:'CMP',ox:12,oy:12},als:{th:1,ds:'Solid',lj:'Miter'},sx:false,sy:false,sl:true,sxl:true,syl:false,sfp:true,sm:'NearestArgument',lm:'ShowCommonForAllSeries',alc:'#DE39CD',vlc:'#DE39CD',sgh:true,aghp:'{A}',sorp:false,vsm:'Default',lnm:'Auto'},hi:0,an:'Default',pn:'SalesViewerPalette',spt:true,sc:true,css:'MetropolisBlue'});
});

//-->
                                    </script>

                                </div>

                            </div>
                        </div>

                    </div>
                    <script id="dxss_2079339835" type="text/javascript">
<!--
ASPx.createControl(ASPxClientCallbackPanel,'RevenueFooterCallbackPanel','',{'callBack':function(arg) { WebForm_DoCallback('ctl00$BottomContentPlaceHolder$ProductSalesRevenue$RevenueFooterCallbackPanel',arg,ASPx.Callback,'RevenueFooterCallbackPanel',ASPx.CallbackError,true); },'enableCallbackAnimation':true,'uniqueID':'ctl00$BottomContentPlaceHolder$ProductSalesRevenue$RevenueFooterCallbackPanel','hideContentOnCallback':false},{'Init':OnDataDependentControlInit});

//-->
                    </script>


                </div>

                <div class="contentBox salesDateRangeContainer">
                    <div class="dxpnlControl_MetropolisBlue" id="CallbackPanel">

                        <div class="rangeControlLayout">
                            <div>
                                <div class="dxbButton_MetropolisBlue rangeControlButton leftShift dxbButtonSys dxbTSys" id="LeftShiftButton" style="-webkit-user-select:none;">
                                    <div class="dxb">
                                        <div class="dxb-hbc">
                                            <input id="LeftShiftButton_I" class="dxb-hb" value="submit" type="submit" name="ctl00$FooterRangeControlPlaceHolder$FooterRangeControl$CallbackPanel$LeftShiftButton" />
                                        </div><span class="dx-vam">&nbsp;</span>
                                    </div>
                                </div>
                                <script id="dxss_1956315820" type="text/javascript">
<!--
ASPx.AddHoverItems('LeftShiftButton',[[['dxbButtonHover_MetropolisBlue'],[''],[''],['','TC']]]);
ASPx.AddPressedItems('LeftShiftButton',[[['dxbButtonPressed_MetropolisBlue'],[''],[''],['','TC']]]);
ASPx.AddDisabledItems('LeftShiftButton',[[['dxbDisabled_MetropolisBlue disabled'],[''],[''],['','TC']]]);
ASPx.AddSelectedItems('LeftShiftButton',[[['dxbf'],[''],['CD']]]);
ASPx.createControl(ASPxClientButton,'LeftShiftButton','',{'uniqueID':'ctl00$FooterRangeControlPlaceHolder$FooterRangeControl$CallbackPanel$LeftShiftButton','isTextEmpty':true},{'Click':function(s,e) { RangeControlHelper.ChangeRangeYear(-1); }});

//-->
                                </script>
                            </div>
                            <div class="trackBarWrapper">
                                <img class="dxeImage_MetropolisBlue" id="BackgroundChartImage" src="Chart.aspx?w=1141px&amp;h=50px&amp;start=2018-01-01T00:00:00&amp;end=2018-12-31T23:59:59" alt="" />
                                <div class="dxeTrackBar_MetropolisBlue salesDateRange" id="SalesDateRange">
                                    <div>
                                        <ul class="dxeTBScale_MetropolisBlue">
                                            <li class="dxeTBItem_MetropolisBlue item"><span class="dxeTBRBLabel_MetropolisBlue">Jan 2018</span>&nbsp;</li>
                                        </ul><div id="SalesDateRange_T" class="dxeTBTrack_MetropolisBlue">
                                            <div id="SalesDateRange_S" class="dxeTBBarHighlight_MetropolisBlue barHighlight">

                                            </div><a title="Drag" class="dxeTBMainDH_MetropolisBlue dragHandle dxEditors_edtTBMainDH_MetropolisBlue dx-not-acc" href="javascript:;" tabindex="-1"><span>Drag</span></a><a title="Drag" class="dxeTBSecondaryDH_MetropolisBlue dragHandle dxEditors_edtTBSecondaryDH_MetropolisBlue dx-not-acc" href="javascript:;" tabindex="-1"><span>Drag</span></a>
                                        </div><div class="dxKBSW">
                                            <input id="SalesDateRange_I" name="ctl00$FooterRangeControlPlaceHolder$FooterRangeControl$CallbackPanel$SalesDateRange" value="[0,11]" type="text" readonly="readonly" style="opacity:0;width:0;height:0;position:relative;background-color:transparent;display:block;margin:0;padding:0;border-width:0;" />
                                        </div>
                                    </div>
                                </div>
                                <script id="dxss_494504225" type="text/javascript">
<!--
ASPx.AddHoverItems('SalesDateRange',[[['dxeTBDecBtnHover_MetropolisBlue'],[''],['DB'],,[[{'spriteCssClass':'dxEditors_edtTBDecBtnHover_MetropolisBlue'}]],['']],[['dxeTBIncBtnHover_MetropolisBlue'],[''],['IB'],,[[{'spriteCssClass':'dxEditors_edtTBIncBtnHover_MetropolisBlue'}]],['']],[['dxeTBMainDHHover_MetropolisBlue dragHandleHover'],[''],['MD'],,[[{'spriteCssClass':'dxEditors_edtTBMainDHHover_MetropolisBlue'}]],['']],[['dxeTBSecondaryDHHover_MetropolisBlue dragHandleHover'],[''],['SD'],,[[{'spriteCssClass':'dxEditors_edtTBSecondaryDHHover_MetropolisBlue'}]],['']]]);
ASPx.AddPressedItems('SalesDateRange',[[['dxeTBDecBtnPressed_MetropolisBlue'],[''],['DB'],,[[{'spriteCssClass':'dxEditors_edtTBDecBtnPressed_MetropolisBlue'}]],['']],[['dxeTBIncBtnPressed_MetropolisBlue'],[''],['IB'],,[[{'spriteCssClass':'dxEditors_edtTBIncBtnPressed_MetropolisBlue'}]],['']],[['dxeTBMainDHPressed_MetropolisBlue'],[''],['MD'],,[[{'spriteCssClass':'dxEditors_edtTBMainDHPressed_MetropolisBlue'}]],['']],[['dxeTBSecondaryDHPressed_MetropolisBlue'],[''],['SD'],,[[{'spriteCssClass':'dxEditors_edtTBSecondaryDHPressed_MetropolisBlue'}]],['']]]);
ASPx.AddDisabledItems('SalesDateRange',[[['dxeDisabled_MetropolisBlue'],[''],['']],[[''],[''],['DB','IB','MD','SD'],,[[{'spriteCssClass':'dxEditors_edtTBDecBtnDisabled_MetropolisBlue'}],[{'spriteCssClass':'dxEditors_edtTBIncBtnDisabled_MetropolisBlue'}],[{'spriteCssClass':'dxEditors_edtTBMainDHDisabled_MetropolisBlue'}],[{'spriteCssClass':'dxEditors_edtTBSecondaryDHDisabled_MetropolisBlue'}]],['']]]);
ASPx.createControl(ASPxClientTrackBar,'SalesDateRange','',{'uniqueID':'ctl00$FooterRangeControlPlaceHolder$FooterRangeControl$CallbackPanel$SalesDateRange','scStates':2,'scPostfix':'MetropolisBlue','appearValueToolTip':false,'enableMouseWheel':false,'items':[[0,'Jan 2018',''],[1,'Feb',''],[2,'Mar',''],[3,'Apr',''],[4,'May',''],[5,'Jun',''],[6,'Jul',''],[7,'Aug',''],[8,'Sep',''],[9,'Oct',''],[10,'Nov',''],[11,'Dec 2018','']],'largeTickInterval':50,'maxValue':11,'minValue':0,'smallTickFrequency':5,'step':1,'valueToolTipPosition':'None'},{'Init':RangeControlHelper.OnTrackBarInit},null,{'decorationStyles':[{'key':'F','className':'dxeFocused_MetropolisBlue focused','cssText':''}]});

//-->
                                </script>
                            </div>
                            <div>
                                <div class="dxbButton_MetropolisBlue rangeControlButton rightShift dxbButtonSys dxbTSys" id="RightShiftButton" style="-webkit-user-select:none;">
                                    <div class="dxb">
                                        <div class="dxb-hbc">
                                            <input id="RightShiftButton_I" class="dxb-hb" value="submit" type="submit" name="ctl00$FooterRangeControlPlaceHolder$FooterRangeControl$CallbackPanel$RightShiftButton" />
                                        </div><span class="dx-vam">&nbsp;</span>
                                    </div>
                                </div>
                                <script id="dxss_1609260337" type="text/javascript">
<!--
ASPx.AddHoverItems('RightShiftButton',[[['dxbButtonHover_MetropolisBlue'],[''],[''],['','TC']]]);
ASPx.AddPressedItems('RightShiftButton',[[['dxbButtonPressed_MetropolisBlue'],[''],[''],['','TC']]]);
ASPx.AddDisabledItems('RightShiftButton',[[['dxbDisabled_MetropolisBlue disabled'],[''],[''],['','TC']]]);
ASPx.AddSelectedItems('RightShiftButton',[[['dxbf'],[''],['CD']]]);
ASPx.createControl(ASPxClientButton,'RightShiftButton','',{'uniqueID':'ctl00$FooterRangeControlPlaceHolder$FooterRangeControl$CallbackPanel$RightShiftButton','isTextEmpty':true},{'Click':function(s,e) { RangeControlHelper.ChangeRangeYear(1); }});

//-->
                                </script>
                            </div>
                        </div>

                    </div>
                    <script id="dxss_1489386227" type="text/javascript">
<!--
ASPx.createControl(ASPxClientCallbackPanel,'CallbackPanel','RangeControlCallbackPanel',{'callBack':function(arg) { WebForm_DoCallback('ctl00$FooterRangeControlPlaceHolder$FooterRangeControl$CallbackPanel',arg,ASPx.Callback,'CallbackPanel',ASPx.CallbackError,true); },'uniqueID':'ctl00$FooterRangeControlPlaceHolder$FooterRangeControl$CallbackPanel','hideContentOnCallback':false});

//-->
                    </script>

                </div>

            </div>
        </div>
        <div class="footerHolder">
            <footer class="footer">
                <div class="contentBox">

                    <div class="trialInfo">
                        <h2>Your Next Great Web App Starts Here</h2>
                        <p class="trial">
                            Download your free <a href="https://go.devexpress.com/Demo_2013_DownloadTrial.aspx" target="_blank">30 day trial</a> of ASP.NET Controls today
                        </p>
                    </div>
                    <div style="float: right;">
                        <a class="logo" href="http://www.devexpress.com" target="_blank"></a>
                    </div>

                </div>
            </footer>
        </div>


        <script type="text/javascript">
            //<![CDATA[

            var callBackFrameUrl='/RWA/SalesViewer/WebResource.axd?d=lMkJF6M-w2HhCkh7qFiTkDEOsx-I7suaMHVhMBSMP1opPbi5wcuhFz3hKlXKazcTOByL9RmpGr0Xj_cDZj8nrfIcL6k1&t=636511160826842555';
            WebForm_InitCallback();//]]>
        </script>
    </form>
</body>
</html>
