@model List<MVC.Presentacion.Models.ControlAsistenciaModel>

@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "ControlDeAsistencia";
        settings.KeyFieldName = "IdControlAsistencia";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.CallbackRouteValues = new { Controller = "Reportes", Action = "_ControlDeAsistencia" };
        //settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Cobranza", Action = "EditingUpdate" };
        settings.CommandColumn.Visible = false;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFooter = true;
        settings.Theme = "Material";
        //settings.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        settings.Columns.Add(c =>
        {
            c.FieldName = "IdRegistro";
            c.Caption = "#";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(7);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Nombre";
            c.Caption = "Nombre";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(7);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });

        settings.Columns.Add(c =>
        {
            c.FieldName = "PtoVenta";
            c.Caption = "Punto Venta";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(15);
            //c.Settings.AllowSort = DefaultBoolean.False;        
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "FechaRegistro";
            c.Caption = "Fecha Registro";
            //c.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            //c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Estatus";
            c.Caption = "Estatus";
            //c.Width = System.Web.UI.WebControls.Unit.Percentage(10);
            //c.Settings.AllowSort = DefaultBoolean.False;
            c.Settings.ShowEditorInBatchEditMode = false;
            c.UnboundType = DevExpress.Data.UnboundColumnType.Decimal;
            c.ReadOnly = true;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.Caption = "Ubicación";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(9);
            c.SetDataItemTemplateContent(d =>
            {
                ViewContext.Writer.Write(string.Format("<a target='_blank' href=https://maps.google.com/?q=" + DataBinder.Eval(d.DataItem, "Coordenadas").ToString() + "><i class='material-icons'>room</i> <span class='icon-name'></span></a>"));
            });
        });

    }
).Bind(Model).GetHtml()
