@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<script language="JavaScript" type="text/javascript">
    function ChangeTipo(s, e) {
        var sel = s.GetValue();
        if (sel == 2) {
            $('#PuntoVentaCampos').show();
            $('#PuntoVentaTabla').show();
            $('#RemaneteGeneralDatos').hide();
            $('#RemaneteGeneralTabla').hide();

        }
        else {
            $('#PuntoVentaCampos').hide();
            $('#PuntoVentaTabla').hide();
            $('#RemaneteGeneralDatos').show();
            $('#RemaneteGeneralTabla').show();

        }      
    };
</script>
<body>
    @using (Html.BeginForm("Remanente", "DashBoard", FormMethod.Post))
    {
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="50" height="50" alt="Alpino"></div>
                <p>Procesando</p>
            </div>
        </div>
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Remanente</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home")><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Remanenete</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="header">
                            Resumen de<strong> remanente</strong>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <strong>Gasera:</strong>
                                    @Html.DevExpress().ComboBox(settings =>
                                        {
                                            settings.Name = "IdEmpresa";
                                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                            settings.SelectedIndex = 0;
                                            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                            settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                            settings.Properties.ValueType = typeof(int);
                                            settings.Properties.Items.Add("Selecciones uno", 0);
                                            settings.Properties.TextField = "NombreComercial";
                                            settings.Properties.ValueField = "IdEmpresa";
                                        }).BindList(ViewBag.Empresas).GetHtml()
                                </div>
                                <div class="col-md-4">
                                    <strong>Tipo:</strong>
                                    @Html.DevExpress().ComboBox(settings =>
                                    {
                                        settings.Name = "IdTipo";
                                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                        settings.SelectedIndex = 0;
                                        settings.Properties.DisplayFormatString = "Remanente {0}";
                                        settings.Properties.ValueType = typeof(int);
                                        settings.ClientEnabled = true;
                                        settings.Properties.ClientSideEvents.SelectedIndexChanged = "ChangeTipo";
                                        settings.Properties.ClientSideEvents.Init = "ChangeTipo";
                                        settings.Properties.Items.Add("Selecciones uno", 0);
                                        settings.Properties.Items.Add("General", 1);
                                        settings.Properties.Items.Add("Por punto de venta", 2);
                                    }).GetHtml()
                                </div>
                                <div class="col-md-3" id="PuntoVentaCampos">
                                    <strong>Punto de venta</strong>
                                    @Html.Action("cbPuntosventaPartial")
                                </div>
                                <div class="col-md-3">
                                    
                                </div>
                            </div>
                            <br />
                            @*Remanenten General*@
                            <div class="row clearfix blockquote blockquote-info btn-round" id="RemaneteGeneralTabla">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <td><strong>Inv. Inicial del mes</strong></td>
                                                <td><strong>Compras descargas</strong></td>
                                                <td><strong>Ventas (Camionetas y Pipas)</strong></td>
                                                <td><strong>Carburación</strong></td>
                                                <td><strong>Inv. Final(Libro)</strong></td>
                                                <td><strong>Inv. Fisicio</strong></td>
                                                <td><strong>Gas sobrante</strong></td>
                                                <td><strong>Rema (%)</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.RemaGeneral != null)
                                                {
                                                    foreach (var item in ViewBag.RemaGeneral)
                                                    {

                                                    }
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="RemaneteGeneralDatos">
                                <div class="row clearfix">
                                    <div class="col-md-3">Remanente Generado al :</div>
                                    <div class="col-md-3"> (Toneladas)</div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-3">Remanente de Venta</div>
                                    <div class="col-md-3">$ 0.00</div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-3">Remanente de Transporte</div>
                                    <div class="col-md-3"> 0.00</div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-3">Total de Remanente Determinado</div>
                                    <div class="col-md-3"> 0.00</div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-3">Gas Sobrante (O faltante)</div>
                                    <div class="col-md-3"> 0.00</div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-3">0.00</div>
                                </div>
                            </div>
                            @*Remanente por unidad de venta*@
                            <div class="row clearfix blockquote blockquote-info btn-round" id="PuntoVentaTabla">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <td><strong>Nombre</strong></td>
                                                <td><strong>01</strong></td>
                                                <td><strong>02</strong></td>
                                                <td><strong>03</strong></td>
                                                <td><strong>04</strong></td>
                                                <td><strong>05</strong></td>
                                                <td><strong>06</strong></td>
                                                <td><strong>07</strong></td>
                                                <td><strong>08</strong></td>
                                                <td><strong>09</strong></td>
                                                <td><strong>10</strong></td>
                                                <td><strong>11</strong></td>
                                                <td><strong>12</strong></td>
                                                <td><strong>13</strong></td>
                                                <td><strong>14</strong></td>
                                                <td><strong>15</strong></td>
                                                <td><strong>16</strong></td>
                                                <td><strong>17</strong></td>
                                                <td><strong>18</strong></td>
                                                <td><strong>19</strong></td>
                                                <td><strong>20</strong></td>
                                                <td><strong>21</strong></td>
                                                <td><strong>22</strong></td>
                                                <td><strong>23</strong></td>
                                                <td><strong>24</strong></td>
                                                <td><strong>25</strong></td>
                                                <td><strong>26</strong></td>
                                                <td><strong>27</strong></td>
                                                <td><strong>28</strong></td>
                                                <td><strong>29</strong></td>
                                                <td><strong>30</strong></td>
                                                <td><strong>31</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.RemaPuntoVenta != null)
                                                {
                                                    foreach (var item in ViewBag.RemaPuntoVenta)
                                                    {

                                                    }
                                                }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
@*<script src="assets/js/pages/forms/advanced-form-elements.js"></script>*@