@{
    ViewBag.Title = "NRFM - AFR";
    ViewBag.PageHeader = "Oops";
}

<div>
    <div class="nav nav-stacked" style="">
        <div class="nav nav-stacked" style="margin-bottom: 20px;">
            <h3 class="navbar-header navbar-left tit1" style="margin-top: 10px;"> > ocurrio un error </h3>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-8 col-md-offset-2" style="overflow: hidden; word-wrap: break-word;">
                <div class="alert alert-danger">
                    <table>
                        <tr>
                            <td style="width: 10%;">
                                <span class="glyphicon glyphicon-warning-sign"></span>
                            </td>
                            <td>
                                <span class="text-center">Favor de contactar con el administrador</span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="alert alert-warning" style="overflow: hidden; word-wrap: break-word;">
                    <table style="width:100%; table-layout:fixed;">
                        <tr>
                            <td style="width: 10%;">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </td>
                            <td>
                                <span class="text-center"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>