body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.pagination-container > ul > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.widthInherit.btn-group.bootstrap-select.form-control {
    width: inherit;
}

a.tip {
    text-decoration: none;
}

    a.tip:hover {
        position: relative;
    }

    a.tip span {
        display: none;
    }

    a.tip:hover span {
        /*padding: 5px 15px;
        display: inline-block;
        z-index: 1;
        background-color: #495057;
        left: 0px;
        margin: 5px;
        position: absolute;
        font-size: 10px;
        top: -10px;
        text-decoration: none;
        border-radius: 6px;
        color: white;
        max-width: 80px;
        min-width: 100px;
        white-space: pre-wrap;*/
        display: inline-block;
        width: 120px;
        background-color: #495057;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        font-size: 10px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 105%;
        max-width: 80px;
        min-width: 100px;
        white-space: pre-wrap;
    }
