.devexpress-select .btn-group {
    float: none;
    display: inline-block;
    margin-left: 0;
}

.itemst {
    color: #616161;
    padding: 7px 18px;
    transition: all 0.5s;
    line-height: 25px;
    font-size: 14px;
}

.devExpressDropDown {
    background-color: #888;
    color: #fff;
    padding: 5px 22px;
    border-radius: .1875rem;
    font-family: inherit;
    font-size: .93em;
    padding-left: 10px;
}

    .devExpressDropDown input {
        background-color: #888 !important;
        color: #fff !important;
        white-space: nowrap;
    }

    .devExpressDropDown select {
        background-color: #888 !important;
        color: #fff !important;
        white-space: nowrap;
    }

    .devExpressDropDown .ddlbtn:hover {
        background-color: #888 !important;
        border-color: #888 !important;
    }

.bootstrap-select .dropdown-menu li.selected a {
    background-color: #eee !important;
    color: #616161 !important;
}

.ddlSelect {
    background-color: #eee !important;
    color: #616161 !important;
}

.ddlbtn {
    font-weight: 400;
    font-size: .93em;
    line-height: 1.35em;
    background-color: #888 !important;
}

.dxeButtonEditButtonHover_Material {
    background-color: #888 !important;
}

.CalendarWidthClass {
}

.dxeDateEditClockCell_Material {
    padding: 17px 28px 0 45px;
    font: 12px Roboto Medium, Helvetica, "Droid Sans", Tahoma, Geneva, sans-serif;
}

.dxeCalendar_Material {
    font: 12px Roboto Medium, Helvetica, "Droid Sans", Tahoma, Geneva, sans-serif;
}

.dxeDateEditTimeEditCell_Material {
    padding: 10px 54px 0 73px;
    width: 90px;
}

.dxeCalendarDay_Material {
    /*padding: 10px;*/
    padding: 2px 11px 3px;
}

.dxeCalendarSelected_Material, .dxeCalendarToday_Material {
    background-repeat: no-repeat;
    background-position: center 3px;
    background-size: 30px 35px;
}

div.dxeCalendarDETS.dxeCalendarVerticalDETS .dxeICC > div {
    height: 190px;
}

.dxeCalendar_Material td.dxMonthGridWithWeekNumbers > table > tbody > tr:last-child > td,
.dxeCalendar_Material td.dxMonthGrid > table > tbody > tr:last-child > td {
    padding-bottom: 25px;
    padding-top: 0px;
}
.dxeCalendarDayHeader_Material {
    padding: 10px 4px 10px;
}
.dxeCalendarFooter_Material {
    padding: 3px 0;
}
/*.dxeButtonEditSys .dxeButton,*/
/*input[type="text"].dxeEditAreaSys
 { 
     background-color: #888;
    color: #fff;
}*/
