/*a.tip {
    text-decoration: none;
}

    a.tip:hover {      
        position: relative;
    }

    a.tip span {
        display: none;
    }

    a.tip:hover span {
        padding: 5px;
        display: block;
        z-index: 100;
        background-color:#495057;
        background-repeat: repeat-x;
        left: 0px;
        margin: 5px;      
        position: absolute;
        font-size:10px;
        top: 12px;
        text-decoration: none;
        border-radius: 6px;
        color: white;
    }*/
