@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gvProductos";
        settings.CallbackRouteValues = new { Controller = "Almacen", Action = "gvProductosPartial" };
        settings.KeyFieldName = "IdProducto";

        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.WYSIWYG;
        settings.Toolbars.Add(i =>
        {
            i.EnableAdaptivity = true;
            i.Items.Add(exportitem =>
            {
                exportitem.Command = GridViewToolbarCommand.ExportToXls;
                exportitem.Name = "CustomExportToXLS";
                exportitem.Text = "Expotar a XLS";
                exportitem.ItemStyle.CssClass = "btn btn-success btn-round";                
            });         
            i.Items.Add(exportitem =>
            {
                exportitem.Command = GridViewToolbarCommand.ExportToXlsx;
                exportitem.Name = "CustomExportToXLSX";
                exportitem.Text = "Exportar a XLSX";
                exportitem.ItemStyle.CssClass = "btn btn-success btn-round";                
            });
            i.ItemAlign = GridToolbarItemAlign.Right;
        });
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowFilterRow = true;     
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;
        //settings.Styles.Table.CssClass = "table table-striped";
        settings.Styles.HeaderPanel.CssClass = "";
        settings.Styles.FilterRow.CssClass = "";
        settings.StylesFilterControl.ImageButton.CssClass = "form-control";
        settings.Columns.Add("Descripcion");
        settings.Columns.Add("Categoria");
        settings.Columns.Add("ProductoLinea");
        //settings.Columns.Add("Cantidad");
        settings.Columns.Add(c =>
        {
            c.FieldName = "Cantidad";
            c.Caption = "Cantidad";
            c.ColumnType = MVCxGridViewColumnType.TextBox;
            c.Width = System.Web.UI.WebControls.Unit.Percentage(10);
            c.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
            c.Settings.SortMode = DevExpress.XtraGrid.ColumnSortMode.Custom;
            var colSettings = c.PropertiesEdit as TextBoxProperties;
            colSettings.DisplayFormatString = "n2";
        });
        settings.Columns.Add("Ubicacion");
        settings.Columns.Add(c =>
        {
            c.Caption = "Acción";
            c.SetDataItemTemplateContent(d =>
            {
                ViewContext.Writer.Write(string.Format("<a href=" + Url.Action("Editar", new { id = d.KeyValue }) + "><i class='material-icons'>edit</i> <span class='icon-name'></span></a>"));              
            });
        });
    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()