@*@model List<MVC.Presentacion.Models.Cobranza.CargosModel>*@
@{

}
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "Abn";
        settings.KeyFieldName = "IdCargo";
        settings.CallbackRouteValues = new { Controller = "Cobranza", Action = "AbonosPartial" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Cobranza", Action = "EditModesUpdatePartial" };
        settings.SettingsCommandButton.UpdateButton.Text = "Abonar";
        settings.SettingsCommandButton.UpdateButton.RenderMode = GridCommandButtonRenderMode.Link;//SettingsCommandButton.UpdateButton.ButtonType = GridViewCommandButtonType.Button;
        settings.SettingsEditing.Mode = GridViewEditingMode.Inline;

        settings.Styles.Table.CssClass = "table";

        settings.Columns.Add(c =>
        {
            c.FieldName = "IdCargo";
            c.Caption = "#";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Ticket";
            c.Caption = "Ticket";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "TotalCargo";
            c.Caption = "Importe";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(10);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.Settings.ShowEditorInBatchEditMode = false;
            c.UnboundType = DevExpress.Data.UnboundColumnType.Decimal;
            c.ReadOnly = true;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "TotalAbonos";
            c.Caption = "Abonado";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "TotalAbonos";
            c.Caption = "Saldo insoluto";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Abonos.FechaAbono";
            c.Caption = "Fecha Abono";
            c.ColumnType = MVCxGridViewColumnType.DateEdit;
            c.SetDataItemTemplateContent(diTemplate =>
            {
                GridViewDataItemTemplateContainer container = diTemplate as GridViewDataItemTemplateContainer;
                Html.DevExpress().DateEdit(s =>
                {
                    s.Name = string.Format("dtFechaRegistro_{0}", diTemplate.VisibleIndex);
                    s.Properties.UseMaskBehavior = true;
                    s.Properties.EditFormat = EditFormat.Custom;
                    s.Properties.EditFormatString = "dd/MM/yyyy";
                    settings.Attributes.Clear();
                    s.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                    s.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                }).GetHtml();
            });

        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "Abonos.FolioBancario";
            col.Caption = "Folio";
            col.SetDataItemTemplateContent(diTemplate =>
            {
                GridViewDataItemTemplateContainer container = diTemplate as GridViewDataItemTemplateContainer;
                Html.DevExpress().TextBox(txtSettings =>
                {
                    txtSettings.Name = string.Format("txtFolioBancario_{0}", diTemplate.VisibleIndex);
                }).Render();
            });
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Abonos.IdFormaPago";
            c.Caption = "Metodo de Pago";
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditorProperties().ComboBox(p =>
            {
                p.TextField = "Descripcion";
                p.ValueField = "IdFormaPago";
                p.ValueType = typeof(int);
                p.DataSource = ViewBag.FormasPago;

            });
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Abonos.MontoAbono";
            c.Caption = "Cantidad";
            c.SetDataItemTemplateContent(Template =>
            {
                GridViewDataItemTemplateContainer cont = Template as GridViewDataItemTemplateContainer;
                Html.DevExpress().TextBox(txtSettings =>
                {
                    txtSettings.Name = string.Format("txtAbono_{0}", Template.ItemIndex.ToString());
                    // txtSettings.Text = DataBinder.Eval(Template.DataItem, Template.Column.FieldName).ToString();
                    //txtSettings.Properties.ClientSideEvents.GotFocus = string.Format("function(s, e) {{OnValueGotFocus(s, e, '{0}', '{1}'); }}", container.KeyValue.ToString(), container.Column.FieldName);
                }).Render();
            });
        });
        settings.Columns.Add(c =>
        {
            c.Caption = "Acción";
            c.SetDataItemTemplateContent(d =>
            {
                ViewContext.Writer.Write(string.Format("<a href=" + Url.Action("Editar", new { id = d.KeyValue, monto = DataBinder.Eval(d.DataItem, "Abonos.MontoAbono") }) + ">Abonar</a>"));
                //ViewContext.Writer.Write(Html.ActionLink("Abonar", "Editar",  new { id = d.KeyValue, monto = DataBinder.Eval(d.DataItem, "Abonos.MontoAbono") }));
                //Html.RenderAction("Editar", "Cobranza");
            });
        });

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButton = false;
        settings.CommandColumn.ShowDeleteButton = false;
        settings.CommandColumn.ShowEditButton = true;
        settings.PreRender = (sender, e) =>
        {
            ((MVCxGridView)sender).StartEdit(1);
        };

        settings.ClientSideEvents.BeginCallback = "onBeginCallback";
        // DevExpress.Web.Demos.GridViewFeaturesHelper.SetupGlobalGridViewBehavior(settings);

    });

    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }

    }

@grid.Bind(Model).GetHtml()
@functions {
    GridViewEditingMode EditMode { get { return ViewBag.EditMode; } }
}
