@model List<MVC.Presentacion.Models.Cobranza.CargosModel>

@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "Abonos";
        settings.KeyFieldName = "IdCargo";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.CallbackRouteValues = new { Controller = "Cobranza", Action = "_AbonosPartial" };
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Cobranza", Action = "EditingUpdate" };
        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButton = false;
        settings.CommandColumn.ShowDeleteButton = false;
        settings.CommandColumn.ShowEditButton = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFooter = true;
        settings.Theme = "Material";
        settings.SettingsCommandButton.UpdateButton.Text = "Abonar";
        settings.SettingsCommandButton.EditButton.Text = "Abonar";
        //settings.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        settings.Columns.Add(c =>
        {
            c.FieldName = "IdCargo";
            c.Caption = "No Cargo";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(7);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        //settings.Columns.Add(c =>
        //{
        //    c.FieldName = "IdCliente";
        //    c.Caption = "No Cargo";
        //    c.Width = System.Web.UI.WebControls.Unit.Percentage(7);
        //    c.Settings.AllowSort = DefaultBoolean.False;
        //    c.EditFormSettings.Visible = DefaultBoolean.False;
        //});
        settings.Columns.Add(c =>
        {
            c.FieldName = "Cliente";
            c.Caption = "Cliente";
            c.Width = System.Web.UI.WebControls.Unit.Percentage(15);
            //c.Settings.AllowSort = DefaultBoolean.False;
            c.GroupIndex = 1;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Ticket";
            c.Caption = "Ticket";
            //c.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            //c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "TotalCargo";
            c.Caption = "Importe";
            //c.Width = System.Web.UI.WebControls.Unit.Percentage(10);
            //c.Settings.AllowSort = DefaultBoolean.False;
            c.Settings.ShowEditorInBatchEditMode = false;
            c.UnboundType = DevExpress.Data.UnboundColumnType.Decimal;
            c.ReadOnly = true;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "TotalAbonos";
            c.Caption = "Abonado";
            //c.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "SaldoInsoluto";
            c.Caption = "Saldo insoluto";
            //c.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            c.Settings.AllowSort = DefaultBoolean.False;
            c.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Abono.FechaAbono";
            c.Caption = "Fecha Abono";
            c.ColumnType = MVCxGridViewColumnType.DateEdit;
            c.Visible = false;
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.SetDataItemTemplateContent(diTemplate =>
            {
                GridViewDataItemTemplateContainer container = diTemplate as GridViewDataItemTemplateContainer;
                Html.DevExpress().DateEdit(s =>
                {
                    s.Name = string.Format("dtFechaRegistro_{0}", diTemplate.VisibleIndex);
                    s.Properties.UseMaskBehavior = true;
                    s.Properties.EditFormat = EditFormat.Custom;
                    s.Properties.EditFormatString = "dd/MM/yyyy";
                    settings.Attributes.Clear();
                    //s.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                    s.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                }).GetHtml();
            });

        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "Abono.FolioBancario";
            col.Caption = "Folio Bancario";
            col.Visible = false;
            col.EditFormSettings.Visible = DefaultBoolean.True;

        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Abono.IdFormaPago";
            c.Caption = "Metodo de Pago";
            c.Settings.AllowSort = DefaultBoolean.False;
            c.Visible = false;
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.EditorProperties().ComboBox(p =>
            {
                p.TextField = "Descripcion";
                p.ValueField = "IdFormaPago";
                p.ValueType = typeof(int);
                p.DataSource = ViewBag.FormasPago;

            });
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Abono.MontoAbono";
            c.Caption = "Cantidad";
            c.Visible = false;
            c.EditFormSettings.Visible = DefaultBoolean.True;

        });

        //settings.Columns.Add(c =>
        //{
        //    c.Caption = "Acción";
        //    c.EditFormSettings.Visible = DefaultBoolean.False;
        //    c.SetDataItemTemplateContent(x =>
        //    {
        //        if (x.Grid.GetRowValues(x.VisibleIndex, "URL_CFDI") != null && !x.Grid.GetRowValues(x.VisibleIndex, "URL_CFDI").ToString().Equals(string.Empty))
        //        {
        //            ViewContext.Writer.Write(string.Format("<a href=" + x.Grid.GetRowValues(x.VisibleIndex, "URL_CFDI").ToString() + " class='tip' target='_blank' role='button' aria-haspopup='true' aria-expanded='false'><i class='material-icons'>picture_as_pdf</i><span>PDF</span></a>"));
        //        }
        //        if (x.Grid.GetRowValues(x.VisibleIndex, "URL_CFDI") != null && !x.Grid.GetRowValues(x.VisibleIndex, "URL_XML").ToString().Equals(string.Empty))
        //        {
        //            ViewContext.Writer.Write(string.Format("<a href=" + x.Grid.GetRowValues(x.VisibleIndex, "URL_XML").ToString() + "class='tip' target='_blank' role='button' aria-haspopup='true' aria-expanded='false'><i class='material-icons'>file_download</i></a>"));
        //        }
        //        if (x.Grid.GetRowValues(x.VisibleIndex, "URL_CFDI") == null && x.Grid.GetRowValues(x.VisibleIndex, "URL_CFDI") == null)
        //        {
        //            ViewContext.Writer.Write("Sin acciones");
        //        }
        //    });
        //});

    }
).Bind(Model).GetHtml()
