<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DS.MainModule-20180716112358.mdf;Initial Catalog=aspnet-DS.MainModule-20180716112358;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="SagasMainModuleEntities" connectionString="metadata=res://*/DbContexts.Sagas.csdl|res://*/DbContexts.Sagas.ssdl|res://*/DbContexts.Sagas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.12;initial catalog=Sagas.MainModule;user id=sa;password=Nts.682;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="data source=192.168.0.12;initial catalog=Sagas.MainModule;user id=sa;password=Nts.682;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework" />-->
    <add name="SagasMainModuleEntities" connectionString="metadata=res://*/DbContexts.Sagas.csdl|res://*/DbContexts.Sagas.ssdl|res://*/DbContexts.Sagas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.13;initial catalog=SagasN.MainModule;user id=sa;password=Nts.682;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="data source=192.168.0.13;initial catalog=SagasN.MainModule;user id=sa;password=Nts.682;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework" />

    <!--<add name="SagasMainModuleEntities" connectionString="metadata=res://*/DbContexts.Sagas.csdl|res://*/DbContexts.Sagas.ssdl|res://*/DbContexts.Sagas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=97.74.232.9;initial catalog=Sagas.MainModule;user id=sa;password=X27zaxac!;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="data source=97.74.232.9;initial catalog=Sagas.MainModule;user id=sa;password=X27zaxac!;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework" />-->
  </connectionStrings>
  <appSettings>
    <!--URL del WebApp-->
    <add key="WebAppURL" value="http://localhost:57857" />
    <add key="WebApi" value="http://localhost:5469" />
    <add key="GuardarLogoEmpresa" value="~/LogosEmpresa" />
    <add key="RutaTemporal" value="~/App_Data" />
    <!--URL del WebApp-->
    <!--Facturacion-->
    <add key="Usuario" value="LAN7008173R5" />
    <add key="Contrasena" value="LAN7008173R5" />
    <add key="RFC" value="LAN7008173R5" />
    <add key="VersionCFDI" value="3.3" />
    <!--Facturacion-->
    <!--IMÁGENES-->
    <add key="ImagenesDiasVigencia" value="93" />
    <add key="RutaImagenesInventario" value="~/Imagenes/Inventario" />
    <add key="RutaImagenesPagos" value="~/Imagenes/Pagos" />
    <!--IMÁGENES-->

    <!--GENERAR JWT TOKEN-->
    <add key="JWT_SECRET_KEY" value="Xnb0vbcDdIPrjhqel0YHTibiM2MU8ftO" />
    <add key="JWT_AUDIENCE_TOKEN" value="http://localhost:5469" />
    <add key="JWT_ISSUER_TOKEN" value="http://localhost:5469" />
    <add key="JWT_EXPIRE_MINUTES" value="30" />
    <!--GENERAR JWT TOKEN-->

    <!--TIMER GLOBAL-->
    <add key="GlobalTimerTime" value="300000" />
    <!--TIMER GLOBAL-->

    <!--CORREOS ELECTRÓNICOS-->
    <add key="MailServidor" value="smtp.gmail.com" />
    <add key="MailPuerto" value="25" />
    <add key="MailUsuario" value="neoteck.infraestructura@gmail.com" />
    <add key="MailContrasena" value="Neoteck.123" />
    <add key="RutaPlantillasHtml" value="~/PlantillasHtml/" />

    <!--Asuntos-->
    <add key="Asunto_RequisicionRevisarExistencia" value="Nueva requisición {0}" />
    <add key="Asunto_NuevaOrdendeCompra" value="Nueva orden de compra {0}" />
    <add key="Asunto_ProductoListoParaEntrega" value="Se te autorizo la entrega de producto {0}" />
    <add key="Asunto_SolicitudPago" value="Nueva solicitud de pago {0}" />
    <!--CORREOS ELECTRÓNICOS-->

    <!--MOBILE-->
    <!--Permisos para el menú-->
    <add key="AppCompraEntraGas" value="Entrada de gas - Inventario General|Registrar Papeleta|ic_papeleta" />
    <add key="AppCompraGasFinalizarDescarga" value="Entrada de gas - Inventario General|Finalizar Descarga|ic_finalizar_descarga" />
    <add key="AppCompraGasIniciarDescarga" value="Entrada de gas - Inventario General|Iniciar Descarga|ic_iniciar_descarga" />
    <add key="AppCompraVerOCompra" value="Compras|Ordenes de compra|ic_ordenes_compra" />
    <add key="AppTomaLecturaEstacionCarbInicial" value="Toma de lectura|Estación Carb. (Inicial)|ic_lectura_inicial" />
    <add key="AppTomaLecturaEstacionCarbFinal" value="Toma de lectura|Estación Carb. (Final)|ic_lectura_final" />
    <add key="AppTomaLecturaAlmacenPralInicial" value="Toma de lectura|Almacén Pral. (Inicial)|ic_lectura_inicial" />
    <add key="AppTomaLecturaAlmacenPralFinal" value="Toma de lectura|Almacén Pral. (Final)|ic_lectura_final" />
    <add key="AppTomaLecturaPipaInicial" value="Toma de lectura|Pipa (Inicial)|ic_lectura_inicial" />
    <add key="AppTomaLecturaPipaFinal" value="Toma de lectura|Pipa. (Final)|ic_lectura_final" />
    <add key="AppTomaLecturaCamionetaCilindroInicial" value="Toma de lectura|Camioneta (Inicial)|ic_lectura_inicial" />
    <add key="AppTomaLecturaCamionetaCilindroFinal" value="Toma de lectura|Camioneta (Final)|ic_lectura_final" />
    <add key="AppTomaLecturaReporteDelDia" value="General - Reporte|Reporte del dia|ic_reporte_dia" />
    <add key="AppAutoconsumoEstacionCarbInicial" value="Auto-consumo - Gas|Estación Carb. (Inicial)|ic_autoconsumo" />
    <add key="AppAutoconsumoEstacionCarbFinal" value="Auto-consumo - Gas|Estación Carb. (Final)|ic_autoconsumo" />
    <add key="AppAutoconsumoInventarioGralInicial" value="Auto-consumo - Gas|Inventario Gral.(Inicial)|ic_autoconsumo" />
    <add key="AppAutoconsumoInventarioGralFinal" value="Auto-consumo - Gas|Inventario Gral.(Final)|ic_autoconsumo" />
    <add key="AppAutoconsumoPipaInicial" value="Auto-consumo - Gas|Pipa(Inicial)|ic_autoconsumo" />
    <add key="AppAutoconsumoPipaFinal" value="Auto-consumo - Gas|Pipa(Final)|ic_autoconsumo" />
    <add key="AppCalibracionEstacionCarbInicial" value="Calibración - Unidad de Gas|Estación Carb.(Inicial)|ic_calibracion" />
    <add key="AppCalibracionEstacionCarbFinal" value="Calibración - Unidad de Gas|Estación Carb.(Final)|ic_calibracion" />
    <add key="AppCalibracionPipaInicial" value="Calibración - Unidad de Gas|Pipa(Inicial)|ic_calibracion" />
    <add key="AppCalibracionPipaFinal" value="Calibración - Unidad de Gas|Pipa(Final)|ic_calibracion" />
    <add key="AppCalibracionCamionetaCilindro" value="Calibración - Unidad de Gas|Cilindro|ic_calibracion" />
    <!--<add key="AppCalibracionCamionetaCilindroInicial" value="Calibración - Unidad de Gas|Camioneta (Inicial)|ic_calibracion" />
    <add key="AppCalibracionCamionetaCilindroFinal" value="Calibración - Unidad de Gas|Camioneta (Inicial)|ic_calibracion" />-->
    <add key="AppRecargaEstacionCarbInicial" value="Recarga - Gas|Estación Cab. (Inicial)|ic_recarga" />
    <add key="AppRecargaEstacionCarbFinal" value="Recarga - Gas|Estación Cab. (Final)|ic_recarga" />
    <add key="AppRecargaPipaInicial" value="Recarga - Gas|Pipa (Inicial)|ic_recarga" />
    <add key="AppRecargaPipaFinal" value="Recarga - Gas|Pipa (Final)|ic_recarga" />
    <add key="AppRecargaCamionetaCilindro" value="Recarga - Gas|Camioneta |ic_recarga" />
    <add key="AppTraspasoEstacionCarbInicial" value="Traspaso - Gas|Estación Carb. (Inicial)|ic_traspaso" />
    <add key="AppTraspasoEstacionCarbFinal" value="Traspaso - Gas|Estación Carb. (Final)|ic_traspaso" />
    <add key="AppTraspasoPipaInicial" value="Traspaso - Gas|Pipa (Inicial)|ic_traspaso" />
    <add key="AppTraspasoPipaFinal" value="Traspaso - Gas|Pipa (Final)|ic_traspaso" />
    <add key="AppDisposicionAnticipoEstacionCarb" value="Disposición de efectivo - Anticipo|Estación Carburación|ic_anticipo" />
    <add key="AppDisposicionCorteCajaEstacionCarb" value="Disposición de efectivo - Corte de caja|Estación Carburación|ic_corte_caja" />
    <add key="AppCamionetaPuntoVenta" value="Camioneta de cilindros|Punto de Venta|ic_punto_venta" />
    <add key="AppEstacionCarbPuntoVenta" value="Estación de Carburación|Punto de Venta|ic_punto_venta" />
    <add key="AppPipaPuntoVenta" value="Pipa|Punto de Venta|ic_punto_venta" />

    <!--Permisos para el menú-->
    <!--Firebase token-->
    <add key="AppNotificacionKeyAutorizacion" value="AAAArTr6G44:APA91bFujr3tEdesRnwtYGkUtABZeZudWn0kVhD383ts2HWyo4RvzRFgK28POs2IYxjbTQnqMwa9rjJN30Xpogjtz_KV6QuwFFJFyqqQxXOLwkbBCZQPWmgFnBvep_jh7YcEfJ_rmFhnal8gE4i3Uo3U4MeI-uAQQg" />
    <add key="urlFireBase_Base" value="https://fcm.googleapis.com/" />
    <add key="urlFireBase_EnviarNotificacionSerivicio" value="fcm/send" />
    <!--Firebase token-->
    <!--MOBILE-->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="6042" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>

    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>