@{
    ViewBag.Title = "NTS - Gas Mundia NF452";
    ViewBag.PageHeader = "Work space";

}
<div class="nav nav-stacked" style="">
    <div class="nav nav-stacked" style="margin-bottom: 20px;">
        <h3 class="navbar-header navbar-left tit1" style="margin-top: 10px;">> Página Principal </h3>
    </div>
</div>
